.custom-dropdown-menu {
    display: none;
    position: absolute;
    box-sizing: border-box;
    padding: 8px 0;
    list-style: none;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
    max-height: 200px;
    overflow-y: auto;
    width: 98%;
}

/* Adicione a propriedade 'position' para posicionar em relação ao input */
.position-relative {
    position: relative;
}

.custom-dropdown-menu li {
    margin: 0;
}

.custom-dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.custom-dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-input {
    padding: 10px;
}

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f2f2f2;
}

.editable {
    min-width: 50px;
}

.checkbox-container input {
    width: 70px;
    height: 20px;
    margin: auto;
}