{% extends 'sidebar.html' %}

{% block title %}
<title>Dashboard Pintura</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">
    
    <!-- CSS tables responsive -->

{% endblock %}

{% block containerFluid %}

{% set color_map = {
    'LC': '#ff6d01',
    'AV': '#ffff00',
    'VM': '#ff0000',
    'CO': '#a9a9a9',
    'AN': '#3F00FF',
    'VJ': '#006400'
} %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Dashboard Pintura</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

</div>

{% endblock %}

{% block scripts %}

<!-- Script tabela JQuery -->

<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="static/js/demo/datatables-demo.js"></script>

{% endblock %}