{% extends 'sidebar.html' %}

{% block title %}
<title>Dashboard Solda</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<!-- Custom styles for this page -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    
<!-- CSS tables responsive -->

{% endblock %}

{% block containerFluid %}

{% set color_map = {
    'LC': '#ff6d01',
    'AV': '#ffff00',
    'VM': '#ff0000',
    'CO': '#a9a9a9',
    'AN': '#3F00FF',
    'VJ': '#006400'
} %}

<div class="container-fluid f-14">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-2 text-gray-800">Controle de Qualidade Montagem/Solda</h1>
        <form id="dateFormmSolda" class="d-sm-flex align-items-end justify-content-between">
            <div>
                <label for="data_filtro">Intervalo de data:</label>
                <input type="text" class="form-control" id="inputDate1" name="datetimes" autocomplete="off" style="width: 240px;">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Filtrar Data</button>
        </form>
    </div>
    
    <div class="row">
        <div class="col-xl-12 mb-2">
          <div class="card shadow mb-4">
            <div class="card-header py-3" style="display: flex; justify-content: space-between;">
              <h6 class="m-0 font-weight-bold text-primary">Análise Temporal</h6>
              <small><code>Índice Qualidade</code> - <span id="indiceQualidade">{{ ultimo_total_nao_conformidades }} %</span></small>
            </div>
            <div class="card-body">
              <div class="chart-bar">
                <canvas id="mixedChart" style="width: 100%;height: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 mb-2">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Tabelas</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="overflow-y: auto;height: 200px;">
                <table class="table table-bordered table-sticky" id="dataTable5" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>N° de peças produzidas</th>
                      <th>N° de inspeções</th>
                      <th>N° de não conformidades</th>
                      <th>% de inspeção</th>
                    </tr>
                  </thead>
                    <tbody id="dataTableBody">
                        {% for dado in dados_dash_pintura %}
                        <tr>
                            <th scope="row">{{dado[0]}}</th>
                            <td>{{dado[1]}}</td>
                            <td>{{dado[2]}}</td>
                            <td>{{dado[3]}}</td>
                            <td>{{dado[4]}} %</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-6 mb-2">
          <div class="card shadow mb-4">
            <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
              <h6 class="m-0 font-weight-bold text-primary">Total Causas</h6>
              <select id="filtro_total_causas" class="form-control" multiple style="width: 300px;">
                {% for causa in total_causas %}
                  <option value="{{causa[2]}}">{{causa[2]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="overflow-y: auto;height: 400px;">
                <table class="table table-bordered table-sticky" id="dataTableCausas" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>Conjunto</th>
                      <th>Causa</th>
                      <th style="width: 50px;">Soma do N° Total de não conformidades</th>
                    </tr>
                  </thead>
                    <tbody id="dataTableBodyCausas">
                        {% for causa in total_causas %}
                        <tr>
                            <th scope="row">{{causa[0]}}</th>
                            <td>{{causa[1]}}</td>
                            <td>{{causa[2]}}</td>
                            <td>{{causa[3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <strong><p>Total Geral</p></strong>
                <strong><p id="total_causas">{{soma_total[0]}}</p></strong>
            </div>
          </div>
        </div>
        <div class="col-xl-6 mb-2">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Fotos</h6>
            </div>
            <div class="card-body" style="height: 500px; padding: 0;">
              <div id="fotoCarrossel" class="carousel slide custom-carousel" data-ride="carousel">
                <div class="carousel-inner" id="carousel-inner">
                  {% for ft in foto %}
                      {% if ft[1] %}
                          <div class="carousel-item {% if loop.first %}active{% endif %}">
                              <img src="{{ft[1]}}" class="d-block w-100" alt="{{ ft[2] }}">
                              <div class="carousel-caption d-none d-md-block">
                                  <h5>{{ ft[2] }}</h5>
                                  <p>{{ ft[0] }}</p>
                              </div>
                          </div>
                      {% endif %}
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#fotoCarrossel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#fotoCarrossel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 mb-2">
            <div class="card shadow mb-4">
              <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
                <h6 class="m-0 font-weight-bold text-primary">Tubos</h6>
                <select id="filtro_liquida" class="form-control" multiple style="width: 300px;">
                  {% for tubo in tubos %}
                      <option value="{{tubo[3]}}">{{tubo[3]}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="overflow-y: auto;height: 400px;">
                  <table class="table table-bordered table-sticky" id="dataTableCausasLiquida" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Data</th>
                        <th>Conjunto</th>
                        <th>Motivo</th>
                        <th style="width: 50px;">Quantidade</th>
                      </tr>
                    </thead>
                      <tbody id="dataTableBodyCausasLiquida">
                          {% for tubo in tubos %}
                          <tr>
                              <th scope="row">{{tubo[0]}}</th>
                              <td>{{tubo[1]}}</td>
                              <td>{{tubo[3]}}</td>
                              <td>{{tubo[4]}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <strong><p>Total</p></strong>
                <strong><p id="soma_total_liquida">{{tubos_soma[0]}}</p></strong>
            </div>
            </div>
          </div>
          <div class="col-xl-6 mb-2">
            <div class="card shadow mb-4">
              <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
                <h6 class="m-0 font-weight-bold text-primary">Cilindros</h6>
                <select id="filtro_po" class="form-control" multiple style="width: 300px;">
                    {% for cil in cilindro %}
                        <option value="{{cil[3]}}">{{cil[3]}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="card-body">
                <div class="table-responsive" style="overflow-y: auto;height: 400px;">
                  <table class="table table-bordered table-sticky" id="dataTableCausasPo" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Data</th>
                        <th>Conjunto</th>
                        <th>Motivo</th>
                        <th style="width: 50px;">Quantidade</th>
                      </tr>
                    </thead>
                      <tbody id="dataTableBodyCausasPo">
                          {% for cil in cilindro %}
                          <tr>
                              <th scope="row">{{cil[0]}}</th>
                              <td>{{cil[1]}}</td>
                              <td>{{cil[3]}}</td>
                              <td>{{cil[4]}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between">
                <strong><p>Total</p></strong>
                <strong><p id="soma_total_po">{{cilindro_soma[0]}}</p></strong>
            </div>
            </div>
          </div>
    </div>

    <div class="loading" id="loading" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<script>
    // Função para criar o gráfico
    function createChart(dado) {
        const mixedCtx = document.getElementById('mixedChart').getContext('2d');
        return new Chart(mixedCtx, {
            type: 'bar',
            data: {
                labels: dado.ano_mes,
                datasets: [
                    {
                        label: 'Quantidade de Peças Produzidas',
                        data: dado.num_pecas_produzidas,
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        borderColor: 'rgba(255, 159, 64)',
                        borderWidth: 1,
                        yAxisID: 'y',
                        datalabels: {
                            display: true,
                            align: 'bottom',
                            formatter: function(value) {
                                return value;
                            }
                        }
                    },
                    {
                        label: 'Número de Inspeções',
                        data: dado.num_inspecoes,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235)',
                        borderWidth: 1,
                        yAxisID: 'y',
                        datalabels: {
                            display: true,
                            align: 'bottom',
                            formatter: function(value) {
                                return value;
                            }
                        }
                    },
                    {
                        label: 'Porcentagem de Não Conformidades',
                        data: dado.porcentagem_nao_conformidades,
                        type: 'line',
                        backgroundColor: 'rgba(0, 0, 0, 0.2)',
                        borderColor: 'rgba(0, 0, 0)',
                        borderWidth: 1,
                        fill: false,
                        yAxisID: 'percentageAxis',
                        datalabels: {
                            display: true,
                            align: 'top',
                            formatter: function(value) {
                                return value + '%';
                            }
                        }
                    },
                    {
                        label: 'Porcentagem de Inspeção',
                        data: dado.porcentagem_inspecao,
                        type: 'line',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192)',
                        borderWidth: 1,
                        fill: false,
                        yAxisID: 'percentageAxis',
                        datalabels: {
                            display: true,
                            align: 'bottom',
                            formatter: function(value) {
                                return value + '%';
                            }
                        }
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    percentageAxis: {
                        type: 'linear',
                        position: 'right',
                        grid: {
                            display: false
                        },
                        beginAtZero: true,
                        max: 100,
                        ticks: {
                            callback: function(value) {
                                return value + '%';
                            }
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        display: false
                    },
                    legend: {
                        position: 'bottom'  // Move legend to the bottom
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    }

    // Inicializar o gráfico com os dados passados do backend
    const initialData = JSON.parse('{{ dado | safe }}');
    let mixedChart = createChart(initialData);

    document.getElementById('dateFormmSolda').addEventListener('submit', function(event) {
        event.preventDefault();

        const dateRange = document.getElementById('inputDate1').value;
        const [startDate, endDate] = dateRange.split(' - ').map(date => date.split('/').reverse().join('-'));

        fetch('/dashboard-solda', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ startDate, endDate })
        })
        .then(response => response.json())
        .then(updateDashboard)
        .catch(error => console.error('Error:', error));
    });

function updateDashboard(data) {
    updateChart(data);
    updateQualityIndex(data);
    updateTables(data);
    updateCarousel(data.foto);
    updateFilterOptions(data);
}

function updateChart(data) {
    if (data.dado) {
        mixedChart.data.labels = data.dado.ano_mes || [];
        mixedChart.data.datasets[0].data = data.dado.num_pecas_produzidas || [];
        mixedChart.data.datasets[1].data = data.dado.num_inspecoes || [];
        mixedChart.data.datasets[2].data = data.dado.porcentagem_nao_conformidades || [];
        mixedChart.data.datasets[3].data = data.dado.porcentagem_inspecao || [];
        mixedChart.update();
    }
}

function updateQualityIndex(data) {
    document.getElementById('indiceQualidade').innerText = `${data.ultimo_total_nao_conformidades || 0} %`;
    document.getElementById('total_causas').innerText = data.soma_total || 0;
    document.getElementById('soma_total_liquida').innerText = data.tubos_soma;
    document.getElementById('soma_total_po').innerText = data.cilindro_soma;
}

function updateTables(data) {
    clearTable('dataTableBody');
    clearTable('dataTableBodyCausas');
    clearTable('dataTableBodyCausasLiquida');
    clearTable('dataTableBodyCausasPo');

    if (data.dados_dash_pintura) {
        populateTable('dataTableBody', data.dados_dash_pintura, (row, dado) => `
            <th scope="row">${dado[0]}</th>
            <td>${dado[1]}</td>
            <td>${dado[2]}</td>
            <td>${dado[3]}</td>
            <td>${dado[4]} %</td>
        `);
    }

    if (data.total_causas) {
        populateTable('dataTableBodyCausas', data.total_causas, (row, dado) => `
            <th scope="row">${dado[0]}</th>
            <td>${dado[1]}</td>
            <td>${dado[2]}</td>
            <td>${dado[3]}</td>
        `);
    }

    if (data.tubos) {
        populateTable('dataTableBodyCausasLiquida', data.tubos, (row, dado) => `
            <th scope="row">${dado[0]}</th>
            <td>${dado[1]}</td>
            <td>${dado[3]}</td>
            <td>${dado[4]}</td>
        `);
    }

    if (data.cilindro) {
        populateTable('dataTableBodyCausasPo', data.cilindro, (row, dado) => `
            <th scope="row">${dado[0]}</th>
            <td>${dado[1]}</td>
            <td>${dado[3]}</td>
            <td>${dado[4]}</td>
        `);
    }
}

function clearTable(tableId) {
    const table = document.getElementById(tableId);
    if (table) {
        table.innerHTML = '';
    }
}

function populateTable(tableId, data, rowTemplate) {
    const tableBody = document.getElementById(tableId);
    if (tableBody && Array.isArray(data)) {
        data.forEach(dado => {
            const row = document.createElement('tr');
            row.innerHTML = rowTemplate(row, dado);
            tableBody.appendChild(row);
        });
    }
}

function updateCarousel(fotos) {
    const carouselInner = document.getElementById('carousel-inner');
    if (carouselInner && Array.isArray(fotos)) {
        carouselInner.innerHTML = '';
        fotos.forEach((foto, index) => {
            if (!foto[1]) return;
            let item = document.createElement('div');
            item.className = 'carousel-item' + (index === 0 ? ' active' : '');
            let imgPath = foto[1].replace(';', '');
            item.innerHTML = `
                <img src="${imgPath}" class="d-block w-100" alt="${foto[2]}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>${foto[2]}</h5>
                    <p>${foto[0]}</p>
                </div>
            `;
            carouselInner.appendChild(item);
        });
    }
}

function updateFilterOptions(data) {
    const causasSet = new Set();
    const liquidaSet = new Set();
    const poSet = new Set();

    if (data.total_causas) {
        data.total_causas.forEach(dado => causasSet.add(dado[2]));
    }

    if (data.tubos) {
        data.tubos.forEach(dado => liquidaSet.add(dado[3]));
    }

    if (data.cilindro) {
        data.cilindro.forEach(dado => poSet.add(dado[3]));
    }

    populateFilterOptions('filtro_total_causas', causasSet);
    populateFilterOptions('filtro_liquida', liquidaSet);
    populateFilterOptions('filtro_po', poSet);
}

function populateFilterOptions(filterId, optionsSet) {
    const filterElement = document.getElementById(filterId);
    if (filterElement) {
        filterElement.innerHTML = '';
        optionsSet.forEach(option => {
            const optionElement = document.createElement('option');
            optionElement.value = option;
            optionElement.text = option;
            filterElement.appendChild(optionElement);
        });
    }
}

</script>

{% endblock %}

{% block scripts %}

<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src = ></script>
<script src="static/js/demo/datatables-demo.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="static/js/qualidade/dashboard/filtros_dashboard_solda.js"></script>

<script>
    function validateForm() {
        var inputDate = document.getElementById('inputDate1').value;
    
        // Verifica se a data está no formato correto
        if (!isValidDateRange(inputDate) && inputDate !== '') {
          alert('Formato de data inválido. Use o formato DD/MM/YYYY - DD/MM/YYYY.');
          return false; // Impede o envio do formulário
        }
    
        var dateRange = inputDate.split(' - '); // ['02/01/2024', '19/01/2024']
        var startDateComponents = dateRange[0].split('/');
        var endDateComponents = dateRange[1].split('/');
    
        // Cria as datas invertendo os componentes
        var startDate = new Date(startDateComponents[2], startDateComponents[1] - 1, startDateComponents[0]);
        var endDate = new Date(endDateComponents[2], endDateComponents[1] - 1, endDateComponents[0]);
    
        var maxDate = new Date();
    
        // Verifica se as datas estão dentro do intervalo permitido
        if (endDate > maxDate) {
          alert('A segunda data não pode ser posterior a hoje.');
          return false; // Impede o envio do formulário
        }
    
        return true; // Permite o envio do formulário
    }
    
    function isValidDateRange(dateRange) {
        var dateRangePattern = /^\d{2}\/\d{2}\/\d{4} - \d{2}\/\d{2}\/\d{4}$/;
        return dateRangePattern.test(dateRange);
    }
    
    $(function() {
        var today = moment();

        // Obter o primeiro dia do mês atual
        var startOfMonth = moment().startOf('month');

        // Obter o último dia do mês atual
        var endOfMonth = moment().endOf('month');

        $('input[name="datetimes"]').daterangepicker({
            startDate: startOfMonth,
            endDate: endOfMonth,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    
        $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
        var startDate = picker.startDate;
        var endDate = picker.endDate;
    
        if (endDate.isBefore(startDate)) {
            alert("A data final não pode ser menor que a data inicial");
            picker.setEndDate(startDate);
        }
        });
    });
    </script>

{% endblock %}