{% extends 'sidebar.html' %}

{% block title %}
<title>Inspeção Estanqueidade Tanques</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">

{% endblock %}

{% block containerFluid %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Inspeção Estanqueidade Tanques</h1>
        <div class="d-sm-flex flex-column mb-4">
            <button class="btn btn-primary mb-2" style="font-size: 14px;" onclick="modalTanque()">Inspeção de estanqueidade dos tanques</i></button>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- tabela gerar cambão -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="changeTab('reteste')"
                                style="cursor: pointer;">Reinspeção</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('Estanqueidade')"
                                style="cursor: pointer;">Inspecionados</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body table-card" id="retesteTable" style="display: block;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableRetesteSolda" width="100%"
                            cellspacing="0">
                            <thead class="cf">
                                <tr>
                                    <th>#</th>
                                    <th>Data da Inspecao</th>
                                    <th>Código - Descrição</th>
                                    <th>Inspetor</th>
                                    <th>Executar Reinspeção</th>
                                </tr>
                            </thead>
                            <tbody id="tabela-reteste">
                                {% for reinspecao in reinspecao_dados %}
                                <tr>
                                    <td data-title="#">{{reinspecao[0]}}</td>
                                    <td data-title="Data da Inspecao" class="data-inspecao">{{reinspecao[1]}}</td>
                                    <td data-title="Código - Descrição">{{reinspecao[3]}} - {{reinspecao[4]}}</td>
                                    <td data-title="Inspetor">{{reinspecao[5]}}</td>
                                    <td data-title="Exec">
                                        <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                            style="padding-left: 0.35rem;">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="cursor: pointer;">
                                                <i class="fa-solid fa-angle-down"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <a  class="dropdown-item dropdown_os"
                                                    style="cursor: pointer;" onclick="modalTanqueReinspecao('{{reinspecao[0]}}','{{reinspecao[8]}}','{{reinspecao[3]}}','{{reinspecao[4]}}','{{reinspecao[5]}}', '{{reinspecao[9]}}')">
                                                    Executar Reteste
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Card tabela inspecionados -->
                <div class="card-body table-card" id="EstanqueidadeTable" style="display: none;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTableEstanqueidadeTable" width="100%" cellspacing="0">
                            <thead class="cf">
                                <tr>
                                    <th>#</th>
                                    <th>Data da Inspeção</th>
                                    <th>Código - Descrição</th>
                                    <th>Inspetor</th>
                                    <th>Histórico</th>
                                </tr>
                            </thead>
                            <tbody id="tabela-inspecoes">
                                {% for inspecao in inspecao_dados %}
                                <tr>
                                    <td data-title="#">{{inspecao[0]}}</td>
                                    <td data-title="Data da Inspeção" class="data-inspecao">{{inspecao[1]}}</td>
                                    <td data-title="Código - Descrição">{{inspecao[2]}} - {{inspecao[3]}}</td>
                                    <td data-title="Inspetor">{{inspecao[5]}}</td>
                                    <td data-title="Exec">
                                        <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                            style="padding-left: 0.35rem;">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                style="cursor: pointer;">
                                                <i class="fa-solid fa-angle-down"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <a  class="dropdown-item dropdown_os"
                                                    style="cursor: pointer;" onclick="modalHistoricoEstanqueidadeTanque('{{inspecao[0]}}','{{inspecao[4]}}')">
                                                    Histórico de Inspeção
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" data-backdrop="static" id="estanqueidadeTanqueModal" tabindex="-1" role="dialog"
                aria-labelledby="tubosModalLabel" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="tubosModalTitle">Tanque</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                                <div class="row">
                                    <div class="col-sm-4 mb-4">
                                        <label>Data da Inspeção</label>
                                        <input type="text" class="form-control" id="data_estanqueidade_tanque" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Data da Carga</label>
                                        <input type="date" class="form-control" id="data-carga-estanqueidade-tanque" required>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Inspetor</label>
                                        <select class="form-control" name="inspetores_estanqueidade_tanque" id="inspetores_estanqueidade_tanque" required>
                                            <option value="" hidden selected disabled></option>
                                            <option value="Matheus">Matheus</option>
                                            <option value="Cauã">Cauã</option>
                                            <option value="Paulo">Paulo</option>
                                            <option value="Gabriel">Gabriel</option>
                                            <option value="Leonidas">Leonidas</option>
                                            <option value="Marcelo">Marcelo</option>
                                            <option value="Severiano">Severiano</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 mb-4">
                                        <label>Código</label>
                                        <select class="form-control" name="produto-estanqueidade-tanque" id="produto-estanqueidade-tanque" required>
                                            <option value="" selected hidden disabled></option>
                                            <option value="035939 - FTC4300R">035939 - FTC4300R</option>
                                            <option value="032731 - FTC6500 M22">032731 - FTC6500 M22</option>
                                            <option value="035437 - FT10500 2E">035437 - FT10500 2E</option>
                                            <option value="033465 - FT10500 M22">033465 - FT10500 M22</option>
                                            <option value="033680 - FT10500 2E M22">033680 - FT10500 2E M22</option>
                                            <option value="034317 - FT10500 2E M23">034317 - FT10500 2E M23</option>
                                            <option value="033399 - FT12500">033399 - FT12500</option>
                                            <option value="034310 - FT12500 M23">034310 - FT12500 M23</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Testes Tanque</label>
                                    </div>
                                    <div class="col-sm-12" id="col-parteInferior">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonParteInferior" style="border-radius: 10px;" data-toggle="collapse" href="#parteInferior" role="button" aria-expanded="false" aria-controls="parteInferior">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque parte inferior</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="parteInferior">
                                            <div class="card card-body">
                                                <div class="row align-items-end">     
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-parte-inferior" id="pressao-inicial-parte-inferior" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-parte-inferior" id="duracao-parte-inferior" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-parte-inferior" id="pressao-final-parte-inferior" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-parte-inferior" id="vazamento-parte-inferior" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="col-corpoLongarina">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonCorpoLongarina" style="border-radius: 10px;" data-toggle="collapse" href="#corpoLongarina" role="button" aria-expanded="false" aria-controls="corpoLongarina">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque + Longarinas</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="corpoLongarina">
                                            <div class="card card-body">
                                                <div class="row align-items-end">     
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-longarina" id="pressao-inicial-longarina" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-longarina" id="duracao-longarina" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-longarina" id="pressao-final-longarina" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-longarina" id="vazamento-longarina" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="col-corpoTanque">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonCorpoTanque" style="border-radius: 10px;" data-toggle="collapse" href="#corpoTanque" role="button" aria-expanded="false" aria-controls="corpoTanque">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="corpoTanque">
                                            <div class="card card-body">
                                                <div class="row align-items-end">     
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-corpo-tanque" id="pressao-inicial-corpo-tanque" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-corpo-tanque" id="duracao-corpo-tanque" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-corpo-tanque" id="pressao-final-corpo-tanque" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-corpo-tanque" id="vazamento-corpo-tanque" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="col-corpoChassi">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonCorpoChassi" style="border-radius: 10px;" data-toggle="collapse" href="#corpoChassi" role="button" aria-expanded="false" aria-controls="corpoChassi">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque + Chassi</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="corpoChassi">
                                            <div class="card card-body">
                                                <div class="row align-items-end">     
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-corpo-chassi" id="pressao-inicial-corpo-chassi" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-corpo-chassi" id="duracao-corpo-chassi" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-corpo-chassi" id="pressao-final-corpo-chassi" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-corpo-chassi" id="vazamento-corpo-chassi" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="inspecionar-tanque" type="submit">
                                    <span id="spinner-tanque-estanqueidade" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span id="status-button-tanque-estanqueidade" role="status">Inspecionar</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" data-backdrop="static" id="estanqueidadeTanqueReinspecaoModal" tabindex="-1" role="dialog"
                aria-labelledby="tubosModalLabel" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="reinspecaoForm">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tubosModalTitle">Tanque</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                                <div class="row">
                                    <div class="col-sm-6 mb-4 d-none">
                                        <label>Id da Reinspeção</label>
                                        <input type="text" class="form-control" id="id_estanqueidade_tanque_reinspecao" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Data da Inspeção</label>
                                        <input type="text" class="form-control" id="data_estanqueidade_tanque_reinspecao" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Data da Carga</label>
                                        <input type="text" class="form-control" id="data-carga-estanqueidade-tanque-reinspecao" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Inspetor</label>
                                        <select class="form-control" name="inspetores_estanqueidade_tanque" id="inspetores_estanqueidade_tanque_reinspecao">
                                            <option value="" hidden selected disabled></option>
                                            <option value="Matheus">Matheus</option>
                                            <option value="Cauã">Cauã</option>
                                            <option value="Paulo">Paulo</option>
                                            <option value="Gabriel">Gabriel</option>
                                            <option value="Leonidas">Leonidas</option>
                                            <option value="Marcelo">Marcelo</option>
                                            <option value="Severiano">Severiano</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mb-4">
                                        <label>Código</label>
                                        <select class="form-control" name="produto-estanqueidade-tanque-reinspecao" id="produto-estanqueidade-tanque-reinspecao" disabled>
                                            <option value="" selected hidden disabled></option>
                                            <option value="035939 - FTC4300R">035939 - FTC4300R</option>
                                            <option value="032731 - FTC6500 M22">032731 - FTC6500 M22</option>
                                            <option value="035437 - FT10500 2E">035437 - FT10500 2E</option>
                                            <option value="033465 - FT10500 M22">033465 - FT10500 M22</option>
                                            <option value="033680 - FT10500 2E M22">033680 - FT10500 2E M22</option>
                                            <option value="034317 - FT10500 2E M23">034317 - FT10500 2E M23</option>
                                            <option value="033399 - FT12500">033399 - FT12500</option>
                                            <option value="034310 - FT12500 M23">034310 - FT12500 M23</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Testes Tanque</label>
                                    </div>
                                    <div class="col-sm-12" id="col-parteInferior-reinspecao">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonParteInferior-reinspecao" style="border-radius: 10px;" data-toggle="collapse" href="#parteInferior-reinspecao" role="button" aria-expanded="false" aria-controls="parteInferior-reinspecao">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque parte inferior</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="parteInferior-reinspecao">
                                            <div class="card card-body">
                                                <div class="row align-items-end">   
                                                    <div class="col-sm-6 mb-4 d-none">
                                                        <label>Flag</label>
                                                        <input type="text" class="form-control" id="flag-parte-inferior-tanque-reinspecao"> 
                                                    </div>    
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-parte-inferior-reinspecao" id="pressao-inicial-parte-inferior-reinspecao" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-parte-inferior-reinspecao" id="duracao-parte-inferior-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-parte-inferior-reinspecao" id="pressao-final-parte-inferior-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-parte-inferior-reinspecao" id="vazamento-parte-inferior-reinspecao" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="col-corpoLongarina-reinspecao">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonCorpoLongarina-reinspecao" style="border-radius: 10px;" data-toggle="collapse" href="#corpoLongarina-reinspecao" role="button" aria-expanded="false" aria-controls="corpoLongarina-reinspecao">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque + Longarinas</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="corpoLongarina-reinspecao">
                                            <div class="card card-body">
                                                <div class="row align-items-end"> 
                                                    <div class="col-sm-6 mb-4 d-none">
                                                        <label>Flag</label>
                                                        <input type="text" class="form-control" id="flag-longarina-tanque-reinspecao"> 
                                                    </div>     
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-longarina-reinspecao" id="pressao-inicial-longarina-reinspecao" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-longarina-reinspecao" id="duracao-longarina-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-longarina-reinspecao" id="pressao-final-longarina-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-longarina-reinspecao" id="vazamento-longarina-reinspecao" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="col-corpoTanque-reinspecao">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonCorpoTanque-reinspecao" style="border-radius: 10px;" data-toggle="collapse" href="#corpoTanque-reinspecao" role="button" aria-expanded="false" aria-controls="corpoTanque-reinspecao">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="corpoTanque-reinspecao">
                                            <div class="card card-body">
                                                <div class="row align-items-end">     
                                                    <div class="col-sm-6 mb-4 d-none">
                                                        <label>Flag</label>
                                                        <input type="text" class="form-control" id="flag-corpo-tanque-reinspecao"> 
                                                    </div>     
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-corpo-tanque-reinspecao" id="pressao-inicial-corpo-tanque-reinspecao" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-corpo-tanque-reinspecao" id="duracao-corpo-tanque-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-corpo-tanque-reinspecao" id="pressao-final-corpo-tanque-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-corpo-tanque-reinspecao" id="vazamento-corpo-tanque-reinspecao" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" id="col-corpoChassi-reinspecao">
                                        <a class="d-flex justify-content-between list-group-item" id="buttonCorpoChassi-reinspecao" style="border-radius: 10px;" data-toggle="collapse" href="#corpoChassi-reinspecao" role="button" aria-expanded="false" aria-controls="corpoChassi-reinspecao">
                                            <h6 class="m-0 font-weight-bold text-primary">Teste Corpo do tanque + Chassi</h6>
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                        <div class="collapse" id="corpoChassi-reinspecao">
                                            <div class="card card-body">
                                                <div class="row align-items-end">
                                                    <div class="col-sm-6 mb-4 d-none">
                                                        <label>Flag</label>
                                                        <input type="text" class="form-control" id="flag-corpo-chassi-reinspecao"> 
                                                    </div>      
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Pressão Inicial (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-inicial-corpo-chassi-reinspecao" id="pressao-inicial-corpo-chassi-reinspecao" required> 
                                                    </div>
                                                    <div class="col-sm-6 mb-4">
                                                        <label>Duração do teste (Corpo do tanque)</label>
                                                        <input type="time" value="00:00" step="1" class="form-control duracao-corpo-chassi-reinspecao" id="duracao-corpo-chassi-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Pressão Final (bar)</label>
                                                        <input type="number" min="0" step=".01" class="form-control pressao-final-corpo-chassi-reinspecao" id="pressao-final-corpo-chassi-reinspecao" required> 
                                                    </div>
                                                    <div class="col-6 mb-4">
                                                        <label>Houve vazamento?</label>
                                                        <select class="form-control" name="vazamento-corpo-chassi-reinspecao" id="vazamento-corpo-chassi-reinspecao" required>
                                                            <option value="" selected hidden disabled></option>
                                                            <option value="Sim">Sim</option>
                                                            <option value="Não">Não</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="inspecionar-tanque-reinspecao" type="submit">
                                    <span id="spinner-tanque-estanqueidade-reinspecao" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span id="status-button-tanque-estanqueidade-reinspecao" role="status">Inspecionar</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog" aria-labelledby="modalTimelineLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">Histórico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                            <div class="list-group" id="listaHistorico">
                                
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <p id="modal-footer-quantidade-produzida"></p>
                            <p id="modal-footer-quantidade-reinspecao"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="visualizacaoCausasModal" tabindex="-1" role="dialog"
                aria-labelledby="visualizacaoCausasModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="visualizacaoCausasModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <h6 id="descricao_causas">Descrição das causas</h6>
                            <ul id="lista_nao_ordenada" style="padding: 0;">
                            </ul>
                            
                            <div id="img_visualizacaoCausas">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading" id="loading" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>

        {% endblock %}

        {% block scripts %}

        <!-- Script tabela JQuery -->

        <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="static/js/demo/datatables-demo.js"></script>
        <script src="/static/js/qualidade/inspecao-pintura.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade/modal-inpecao-estanqueidade-tanque.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade_tanque/events_inputs_estanqueidade_tanque.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade_tanque/envio_formulario_tanque.js"></script>

        <script>
            function changeTab(tabName) {
                // Ocultar todas as tabelas
                var tables = document.querySelectorAll('.table-card');
                tables.forEach(function(table) {
                    table.style.display = 'none';
                });

                // Mostrar a tabela correspondente à aba clicada
                document.getElementById(tabName + 'Table').style.display = 'block';

                // Remover a classe "active" de todas as abas
                var tabs = document.querySelectorAll('.nav-link');
                tabs.forEach(function(tab) {
                    tab.classList.remove('active');
                });

                // Adicionar a classe "active" à aba clicada
                var clickedTab = document.querySelector('[onclick="changeTab(\'' + tabName + '\')"]');
                clickedTab.classList.add('active');
            }
        </script>
        
{% endblock %}