{% extends 'sidebar.html' %}

{% block title %}
<title>Apontamento Pintura</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/file.css') }}">

{% endblock %}

{% block containerFluid %}

{% set color_map = {
    'LC': '#ff6d01',
    'AV': '#ffff00',
    'VM': '#ff0000',
    'CO': '#a9a9a9',
    'AN': '#3F00FF',
    'VJ': '#006400'
} %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Inspeção Pintura</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- tabela gerar cambão -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="changeTab('inspecionar')" style="cursor: pointer;">A
                                inspecionar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('inspecionados')"
                                style="cursor: pointer;">Inspecionados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('reinspecao')"
                                style="cursor: pointer;">Reinspecão</a>
                        </li>
                    </ul>
                </div>

                <!-- Card tabela a inspecionar -->
                <div class="card-body" id="inspecionarTable" style="display: block;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableInspecao" width="100%" cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data Finalizada</th>
                                        <th>Código</th>
                                        <th>Descrição</th>
                                        <th>Cor</th>
                                        <th>Qt. produzida</th>
                                        <th>Tipo</th>
                                        <th>Exec</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inpecao in inspecoes %}
                                    <tr>
                                        <td data-title="#">{{inpecao[0]}}</td>
                                        <td data-title="Data Finalizada">{{inpecao[1]}}</td>
                                        <td data-title="Código">{{inpecao[2]}}</td>
                                        <td data-title="Descrição">{{inpecao[3]}}</td>
                                        <td data-title="Cor">{{inpecao[4]}} 
                                            {% if inpecao[4] in color_map %}
                                            <input class="text-truncate" data-toggle="tooltip" data-placement="top"
                                                title="{{ color_map[inpecao[4]] }}" type="color" value="{{ color_map[inpecao[4]] }}" style="background: transparent; border-color: transparent; overflow: unset;" disabled>
                                            {% endif %}
                                        </td>
                                        <td data-title="Qt. produzida">{{inpecao[5]}}</td>
                                        <td data-title="Tipo">{{inpecao[6]}}</td>
                                        <td data-title="Exec" style="align-items: center;">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a id="btn_exec" class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalInspecao(
                                                    '{{inpecao[0]}}',
                                                    '{{inpecao[1]}}',
                                                    '{{inpecao[3]}}',
                                                    '{{inpecao[4]}}',
                                                    '{{inpecao[5]}}',
                                                )">
                                                        Executar Inspeção
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Card tabela inspecionados -->
                <div class="card-body" id="inspecionadosTable" style="display: none;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableInspecionados" width="100%" cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Peca</th>
                                        <th>Cor</th>
                                        <th>Tipo</th>
                                        <th>Histórico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inspecionada in inspecionadas %}
                                    <tr>
                                        <td data-title="#">{{inspecionada[0]}}</td>
                                        <td data-title="Peca">{{inspecionada[9]}}</td>
                                        <td data-title="Cor">{{inspecionada[10]}} 
                                            {% if inspecionada[10] in color_map %}
                                            <input class="text-truncate" data-toggle="tooltip" data-placement="top"
                                                title="{{ color_map[inspecionada[10]] }}" type="color" value="{{ color_map[inspecionada[10]] }}" style="background: transparent; border-color: transparent; overflow: unset;" disabled>
                                            {% endif %}
                                        </td>
                                        <td data-title="Tipo">{{inspecionada[11]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a id="btn_exec" class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalTimeline('{{inspecionada[0]}}','Pintura')">
                                                        Histórico
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Card tabela reinspeção -->
                <div class="card-body" id="reinspecaoTable" style="display: none;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableReinspecao" width="100%" cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data Inspeção</th>
                                        <th>Peça</th>
                                        <th>Não Conformidade</th>
                                        <th>Inspetor</th>
                                        <th>Cor</th>
                                        <th>Exec</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reinspecao in reinspecoes %}
                                    <tr>
                                        <td data-title="#">{{reinspecao[0]}}</td>
                                        <td data-title="Data Inspeção">{{reinspecao[1]}}</td>
                                        <td data-title="Peça">{{reinspecao[12]}}</td>
                                        <td data-title="Ñ conformidade">{{reinspecao[2]}}</td>
                                        <td data-title="Inspetor">{{reinspecao[4]}}</td>
                                        <td data-title="Cor">{{reinspecao[13]}} 
                                            {% if reinspecao[13] in color_map %}
                                            <input class="text-truncate" data-toggle="tooltip" data-placement="top"
                                                title="{{ color_map[reinspecao[13]] }}" type="color" value="{{ color_map[reinspecao[13]] }}" style="background: transparent; border-color: transparent; overflow: unset;" disabled>
                                            {% endif %}
                                        </td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a id="btn_exec" class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalReinspecao(
                                                        '{{reinspecao[0]}}',
                                                        '{{reinspecao[1]}}',
                                                        '{{reinspecao[13]}}',
                                                        '{{reinspecao[14]}}',
                                                        '{{reinspecao[2]}}',
                                                        '{{reinspecao[4]}}'
                                                    )">
                                                        Reinspecionar
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal fade" data-backdrop="static" id="inspecaoModal" tabindex="-1" role="dialog"
                aria-labelledby="inspecaoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="inspecaoModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; height: 500px; overflow-y: auto;">
                            <div class="row">
                                <input type="date" name="id_peca" id="id_peca" class="form-control" readonly="readonly"
                                    style="display: none;">
                                <div class="col-sm-6 mb-4">
                                    <label for="data_finalizada">Data Finalizada:</label>
                                    <input type="date" name="data_finalizada" id="data_finalizada" class="form-control"
                                        readonly="readonly">
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label for="data_inspecao">Data Inspeção:</label>
                                    <input type="text" name="data_inspecao" id="data_inspecao" class="form-control"
                                        readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 mb-4">
                                    <label for="peca_inspecionada">Peça:</label>
                                    <input type="text" name="peca_inspecionada" id="peca_inspecionada"
                                        class="form-control" readonly="readonly">
                                </div>
                                <div class="col-sm-2 mb-4">
                                    <label for="cor_inspecionada">Cor:</label>
                                    <input type="text" name="cor_inspecionada" id="cor_inspecionada"
                                        class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 mb-4">
                                    <label>Quantidade Produzida:</label>
                                    <input id="qtd_produzida" type="number" name="qtd_produzida" value=""
                                        class="form-control" readonly="readonly">
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <label>N° total de conformidades:</label>
                                    <input type="number" id="n_conformidades" name="n_conformidades" value=""
                                        class="form-control">
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <label>N° total de não conformidades:</label>
                                    <input type="number" id="n_nao_conformidades" name="n_nao_conformidades" value=""
                                        class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div id="coluna_causa" class="col-sm-12">

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Inspetor:</label>
                                    <select name="inspetor" id="inspetor" class="form-control">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Elenilson">Elenilson</option>
                                        <option value="Marcelo">Marcelo</option>
                                    </select>
                                </div>
                            </div>                         
                        </div>
                        <div class="modal-footer">
                            <button id="envio_inspecao" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="reinspecaoModal" tabindex="-1" role="dialog"
                aria-labelledby="reinspecaoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reinspecaoModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; height: 60vh; overflow-y: auto;">
                            <div class="row">
                                <input type="date" name="id_peca" id="id_peca" class="form-control" readonly="readonly"
                                    style="display: none;">
                                <div class="col-sm-6 mb-4">
                                    <label for="data_inspecao_anterior">Data da inspeção anterior:</label>
                                    <input type="date" name="data_inspecao_anterior" id="data_inspecao_anterior"
                                        class="form-control" readonly="readonly">
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label for="data_nova_inspecao">Data da nova inspeção:</label>
                                    <input type="text" name="data_nova_inspecao" id="data_nova_inspecao"
                                        class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 mb-4">
                                    <label for="peca_reinspecionada">Peça:</label>
                                    <input type="text" name="peca_reinspecionada" id="peca_reinspecionada"
                                        class="form-control" readonly="readonly">
                                </div>
                                <div class="col-sm-2 mb-4">
                                    <label for="cor_reinspecionada">Cor:</label>
                                    <input type="text" name="cor_reinspecionada" id="cor_reinspecionada"
                                        class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 mb-4">
                                    <label>Quantidade Total de Peças:</label>
                                    <input id="qtd_produzida_reinspecao" type="number" name="qtd_produzida_reinspecao"
                                        value="" class="form-control" readonly="readonly">
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <label>N° total de conformidades:</label>
                                    <input type="number" id="n_conformidades_reinspecao" name="n_conformidades" value=""
                                        class="form-control">
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <label>N° total de não conformidades:</label>
                                    <input type="number" id="n_nao_conformidades_reinspecao" name="n_nao_conformidades"
                                        value="" class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="row">
                                <div id="coluna_causa_reinspecao" class="col-sm-12">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Inspetor:</label>
                                    <select name="inspetor_reinspecao" id="inspetor_reinspecao" class="form-control">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Elenilson">Elenilson</option>
                                        <option value="Marcelo">Marcelo</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-4" id="campo_arquivos_reinspecao" style="display: none;">
                                    <label>Escolha os arquivos:</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="foto_reinspecao" name="foto_reinspecao" accept="image/*" multiple>
                                        <label class="custom-file-label label-reinspecao" for="foto_reinspecao">Escolha os arquivos</label>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="envio_reinspecao" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="visualizacaoCausasModal" tabindex="-1" role="dialog"
                aria-labelledby="visualizacaoCausasModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="visualizacaoCausasModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <h6 id="descricao_causas">Descrição das causas</h6>
                            <ul id="lista_nao_ordenada" style="padding: 0;">
                            </ul>
                            
                            <div id="img_visualizacaoCausas">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog" aria-labelledby="modalTimelineLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">Histórico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                            <div class="list-group" id="listaHistorico">
                                
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <p id="modal-footer-quantidade-produzida"></p>
                            <p id="modal-footer-quantidade-reinspecao"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading" id="loading" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>

        {% endblock %}

        {% block scripts %}

        <!-- Script tabela JQuery -->

        <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="static/js/demo/datatables-demo.js"></script>
        <script src="/static/js/qualidade/inspecao-pintura.js"></script>
        <script src="/static/js/qualidade/inspecao-solda.js"></script>
        <script src="/static/js/qualidade/selects_causa_pintura.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

        {% endblock %}