{% extends 'sidebar.html' %}

{% block title %}
<title>Apontamento Pintura</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

{% endblock %}

{% block containerFluid %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Controle de Qualidade - Inspeção / Reinspeção</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- tabela gerar cambão -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="changeTab('inspecionar')" style="cursor: pointer;">A inspecionar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('inspecionados')" style="cursor: pointer;">Inspecionados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('reinspecao')" style="cursor: pointer;">Reinspecão</a>
                        </li>
                    </ul>
                </div>
                
                <!-- Card Body -->
                <div class="card-body" id="inspecionarTable" style="display: block;">
                    <div class="table-responsive" style="max-height: 100%; overflow-y: auto;">
                        <table class="table table-bordered" id="dataTableInspecao" width="100%" cellspacing="0" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data Finalizada</th>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Cor</th>
                                    <th>Qt. produzida</th>
                                    <th>Tipo</th>
                                    <th>Exec</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Data Finalizada</th>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Cor</th>
                                    <th>Qt. produzida</th>
                                    <th>Tipo</th>
                                    <th>Exec</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for inpecao in inspecoes %}
                                <tr>
                                    <td>{{inpecao[0]}}</td>
                                    <td>{{inpecao[1]}}</td>
                                    <td>{{inpecao[2]}}</td>
                                    <td>{{inpecao[3]}}</td>
                                    <td>{{inpecao[4]}}</td>
                                    <td>{{inpecao[5]}}</td>
                                    <td>{{inpecao[6]}}</td>
                                    <td style="align-items: center;">
                                        <div class="col-sm-4 d-flex justify-content-center align-items-center" style="padding-left: 0.35rem;">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                                <i class="fa-solid fa-angle-down"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <a id="btn_exec" class="dropdown-item dropdown_os" style="cursor: pointer;" onclick="modalInspecao(
                                                    '{{inpecao[0]}}',
                                                    '{{inpecao[1]}}',
                                                    '{{inpecao[3]}}',
                                                    '{{inpecao[4]}}',
                                                    '{{inpecao[5]}}',
                                                )"> 
                                                    Status
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body" id="inspecionadosTable" style="display: none;">
                    <div class="table-responsive" style="max-height: 100%; overflow-y: auto;">
                        <table class="table table-bordered" id="dataTableInspecionados" width="100%" cellspacing="0" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data Inspecao</th>
                                    <th>Peca</th>
                                    <th class="text-truncate" data-toggle="tooltip" data-placement="top" title="N° de Conformidades" style="max-width: 60px;">N° de Conformidades</th>
                                    <th>Cor</th>
                                    <th>Tipo</th>
                                    <th>Inspetor</th>
                                    <th>Setor</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Data Inspecao</th>
                                    <th>Peca</th>
                                    <th class="text-truncate" data-toggle="tooltip" data-placement="top" title="N° de Conformidades" style="max-width: 60px;">N° de Conformidades</th>
                                    <th style="max-width: 50px;">Cor</th>
                                    <th style="max-width: 50px;">Tipo</th>
                                    <th>Inspetor</th>
                                    <th>Setor</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for inspecionada in inspecionadas %}
                                <tr>
                                    <td>{{inspecionada[0]}}</td>
                                    <td>{{inspecionada[1]}}</td>
                                    <td>{{inspecionada[5]}}</td>
                                    <td>{{inspecionada[2]}}</td>
                                    <td>{{inspecionada[6]}}</td>
                                    <td>{{inspecionada[7]}}</td>
                                    <td>{{inspecionada[3]}}</td>
                                    <td>{{inspecionada[4]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body" id="reinspecaoTable" style="display: none;">
                    <div class="table-responsive" style="max-height: 100%; overflow-y: auto;">
                        <table class="table table-bordered" id="dataTableReinspecao" width="100%" cellspacing="0" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data Reinspeção</th>
                                    <th>Peca</th>
                                    <th>Não Conformidade</th>
                                    <th>Causa Reinspecao</th>
                                    <th>Inspetor</th>
                                    <th>Setor</th>
                                    <th>Exec</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Data Reinspeção</th>
                                    <th>Peca</th>
                                    <th>Não Conformidade</th>
                                    <th>Causa Reinspecao</th>
                                    <th>Inspetor</th>
                                    <th>Setor</th>
                                    <th>Exec</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for reinspecao in reinspecoes %}
                                <tr>
                                    <td>{{reinspecao[0]}}</td>
                                    <td>{{reinspecao[1]}}</td>
                                    <td>{{reinspecao[6]}}</td>
                                    <td>{{reinspecao[2]}}</td>
                                    <td>{{reinspecao[3]}}</td>
                                    <td>{{reinspecao[4]}}</td>
                                    <td>{{reinspecao[5]}}</td>
                                    <td>
                                        <div class="col-sm-4 d-flex justify-content-center align-items-center" style="padding-left: 0.35rem;">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                                <i class="fa-solid fa-angle-down"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <a id="btn_exec" class="dropdown-item dropdown_os" style="cursor: pointer;" onclick="modalInspecao(
                                                    '{{reinspecao[0]}}',
                                                    '{{reinspecao[1]}}',
                                                    '{{reinspecao[3]}}',
                                                    '{{reinspecao[4]}}',
                                                    '{{reinspecao[5]}}',
                                                )"> 
                                                    Inspeção
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal Vídeo -->
    <div class="modal fade" data-backdrop="static" id="inspecaoModal" tabindex="-1" role="dialog" aria-labelledby="inspecaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inspecaoModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4" style="font-size: 14px;">
                    <div class="row">
                        <input type="date" name="id_peca" id="id_peca" class="form-control" readonly="readonly" style="display: none;"> 
                        <div class="col-sm-6 mb-4">
                            <label for="data_finalizada">Data Finalizada:</label>
                            <input type="date" name="data_finalizada" id="data_finalizada" class="form-control" readonly="readonly">    
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label for="data_inspecao">Data Inspeção:</label>
                            <input type="text" name="data_inspecao" id="data_inspecao" class="form-control" readonly="readonly">    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 mb-4">
                            <label for="peca_inspecionada">Peça:</label>
                            <input type="text" name="peca_inspecionada" id="peca_inspecionada" class="form-control" readonly="readonly">    
                        </div>
                        <div class="col-sm-2 mb-4">
                            <label for="cor_inspecionada">Cor:</label>
                            <input type="text" name="cor_inspecionada" id="cor_inspecionada" class="form-control" readonly="readonly">    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-4">
                            <label>Quantidade Produzida:</label>
                            <input id="qtd_produzida" type="number" name="qtd_produzida" value="" class="form-control" readonly="readonly">
                        </div>
                        <div class="col-sm-4 mb-4">
                            <label>N° total de conformidades:</label>
                            <input type="number" id="n_conformidades" name="n_conformidades" value="" class="form-control">
                        </div>
                        <div class="col-sm-4 mb-4">
                            <label>N° total de não conformidades:</label>
                            <input type="number" id="n_nao_conformidades" name="n_nao_conformidades" value="" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div id="coluna_causa" class="col-sm-6 mb-4">
                            <label>Causa das <strong>não conformidades:</strong></label>
                            <select name="causa_reinspecao" id="causa_reinspecao" class="form-control" disabled>
                                <option value="" selected hidden disabled></option>
                                <option value="Causa A">Causa A</option>
                                <option value="Causa B">Causa B</option>
                                <option value="Causa C">Causa C</option>
                                <option value="Causa D">Causa D</option>
                                <option value="Causa E">Causa E</option>
                            </select>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label>Inspetor:</label>
                            <select name="inspetor" id="inspetor" class="form-control">
                                <option value="" selected hidden disabled></option>
                                <option value="inspetor A">inspetor A</option>
                                <option value="inspetor B">inspetor B</option>
                                <option value="inspetor C">inspetor C</option>
                                <option value="inspetor D">inspetor D</option>
                                <option value="inspetor E">inspetor E</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="envio_inspecao" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="inspecaoModal" tabindex="-1" role="dialog" aria-labelledby="inspecaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inspecaoModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4" style="font-size: 14px;">
                    <div class="row">
                        <input type="date" name="id_peca" id="id_peca" class="form-control" readonly="readonly" style="display: none;"> 
                        <div class="col-sm-6 mb-4">
                            <label for="data_finalizada">Data Finalizada:</label>
                            <input type="date" name="data_finalizada" id="data_finalizada" class="form-control" readonly="readonly">    
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label for="data_inspecao">Data Inspeção:</label>
                            <input type="text" name="data_inspecao" id="data_inspecao" class="form-control" readonly="readonly">    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 mb-4">
                            <label for="peca_inspecionada">Peça:</label>
                            <input type="text" name="peca_inspecionada" id="peca_inspecionada" class="form-control" readonly="readonly">    
                        </div>
                        <div class="col-sm-2 mb-4">
                            <label for="cor_inspecionada">Cor:</label>
                            <input type="text" name="cor_inspecionada" id="cor_inspecionada" class="form-control" readonly="readonly">    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-4">
                            <label>Quantidade Produzida:</label>
                            <input id="qtd_produzida" type="number" name="qtd_produzida" value="" class="form-control" readonly="readonly">
                        </div>
                        <div class="col-sm-4 mb-4">
                            <label>N° total de conformidades:</label>
                            <input type="number" id="n_conformidades" name="n_conformidades" value="" class="form-control">
                        </div>
                        <div class="col-sm-4 mb-4">
                            <label>N° total de não conformidades:</label>
                            <input type="number" id="n_nao_conformidades" name="n_nao_conformidades" value="" class="form-control" readonly="readonly">
                        </div>
                    </div>
                    <div class="row">
                        <div id="coluna_causa" class="col-sm-6 mb-4">
                            <label>Causa das <strong>não conformidades:</strong></label>
                            <select name="causa_reinspecao" id="causa_reinspecao" class="form-control" disabled>
                                <option value="" selected hidden disabled></option>
                                <option value="Causa A">Causa A</option>
                                <option value="Causa B">Causa B</option>
                                <option value="Causa C">Causa C</option>
                                <option value="Causa D">Causa D</option>
                                <option value="Causa E">Causa E</option>
                            </select>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label>Inspetor:</label>
                            <select name="inspetor" id="inspetor" class="form-control">
                                <option value="" selected hidden disabled></option>
                                <option value="inspetor A">inspetor A</option>
                                <option value="inspetor B">inspetor B</option>
                                <option value="inspetor C">inspetor C</option>
                                <option value="inspetor D">inspetor D</option>
                                <option value="inspetor E">inspetor E</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="envio_inspecao" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading" id="loading" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

<!-- Script tabela JQuery -->

<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="static/js/demo/datatables-demo.js"></script>

<!-- Script campos de filtro -->

<script>

    function modalInspecao(id, data, peca, cor,qtd_produzida) {

        const timeElapsed = Date.now();
        const today = new Date(timeElapsed);

        // Configurar o conteúdo do modal com os parâmetros recebidos
        $('#inspecaoModalLabel').text(id);
        $('#data_finalizada').val(data);
        $('#peca_inspecionada').val(peca);
        $('#cor_inspecionada').val(cor);
        $('#qtd_produzida').val(qtd_produzida);
        $('#data_inspecao').val(today.toLocaleDateString());
        $('#n_conformidades').val('');
        $('#inspetor').val('');
        $("#causa_reinspecao").val('');
        $('#n_nao_conformidades').val('');
        
        // Exibir o modal
        $('#inspecaoModal').modal('show');

    }

    $('#n_conformidades').on('input',function() {

        let n_conformidades_value = parseInt($('#n_conformidades').val(), 10);
        let qtd_produzida_value = parseInt($('#qtd_produzida').val(), 10);

        $('#n_nao_conformidades').val(qtd_produzida_value - n_conformidades_value);

        if(n_conformidades_value >= qtd_produzida_value || n_conformidades_value < 0 || n_conformidades_value === '') {
            $("#causa_reinspecao").prop('disabled', true);
            $("#causa_reinspecao").val('');
            $('#n_nao_conformidades').val('');
        } else {
            $("#causa_reinspecao").prop('disabled', false);
        }
    })

    $('#envio_inspecao').one('click',function(){

        $("#loading").show();

        let n_conformidades_value = $('#n_conformidades').val();
        let inspetor = $('#inspetor').val();
        let qtd_produzida_value = $('#qtd_produzida').val();
        let causa_reinspecao =  $("#causa_reinspecao").val();
        
        if(n_conformidades_value === "" || inspetor === null || n_conformidades_value < 0 || n_conformidades_value > qtd_produzida_value){
            alert("Preencha todos os campos corretamente")
            console.log("if")
            $("#loading").hide();
            return
        } else if(n_conformidades_value >= 0 && n_conformidades_value < qtd_produzida_value && causa_reinspecao === null){
            alert("Preencha todos os campos corretamente")
            console.log("else if")
            $("#loading").hide();
            return
        }

        let id_inspecao =  $('#inspecaoModalLabel').text();
        let data_inspecao = $('#data_inspecao').val();
        let n_nao_conformidades = $('#n_nao_conformidades').val();

        $.ajax({
            url: '/inspecao',
            type: 'POST',  // Alterado para POST
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ 'id_inspecao': id_inspecao ,'data_inspecao':data_inspecao,'n_conformidades_value':n_conformidades_value,
            'n_nao_conformidades':n_nao_conformidades,'causa_reinspecao':causa_reinspecao,'inspetor':inspetor,'qtd_produzida':qtd_produzida_value}),  // Enviando um objeto JSON
            success: function(response) {
                window.location.reload();
                console.log("success")
                $("#loading").hide();
            },
            error: function(error) {
                console.log(error);
                $("#loading").hide();
            }
        });
    })

</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function changeTab(tabName) {
        // Ocultar todas as tabelas
        var tables = document.querySelectorAll('.card-body');
        tables.forEach(function(table) {
            table.style.display = 'none';
        });

        // Mostrar a tabela correspondente à aba clicada
        document.getElementById(tabName + 'Table').style.display = 'block';

        // Remover a classe "active" de todas as abas
        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function(tab) {
            tab.classList.remove('active');
        });

        // Adicionar a classe "active" à aba clicada
        var clickedTab = document.querySelector('[onclick="changeTab(\'' + tabName + '\')"]');
        clickedTab.classList.add('active');
    }
</script>

{% endblock %}