{% extends 'sidebar.html' %}

{% block title %}
<title>Apontamento Pintura</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">

{% endblock %}

{% block containerFluid %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Inspeção Solda</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- tabela gerar cambão -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="changeTab('AinspecionarSolda')"
                                style="cursor: pointer;">A inspecionar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('inspecionadosSolda')"
                                style="cursor: pointer;">Inspecionados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('reinspecionadosSolda')"
                                style="cursor: pointer;">Reinspecão</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body" id="AinspecionarSoldaTable" style="display: block;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableAinspecionarSolda" width="100%"
                                cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data Finalizada</th>
                                        <th>Código</th>
                                        <th>Conjunto</th>
                                        <th>Quantidade</th>
                                        <th>Celula</th>
                                        <th>Executar Inspeção</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a_inspecionar in a_inspecionar_solda %}
                                    <tr>
                                        <td data-title="#">{{a_inspecionar[0]}}</td>
                                        <td data-title="Data Finalizada">{{a_inspecionar[1]}}</td>
                                        <td data-title="Código">{{a_inspecionar[2]}}</td>
                                        <td data-title="Conjunto">{{a_inspecionar[3]}}</td>
                                        <td data-title="Quantidade">{{a_inspecionar[5]}}</td>
                                        <td data-title="Celula">{{a_inspecionar[9]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalInspecaoSolda('{{a_inspecionar[0]}}','{{a_inspecionar[9]}}','{{a_inspecionar[3]}}','{{a_inspecionar[5]}}')">
                                                        Executar inspeção de solda
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Card tabela inspecionados -->
                <div class="card-body" id="inspecionadosSoldaTable" style="display: none;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableInspecionadosSolda" width="100%"
                                cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data Inspeção</th>
                                        <th>Conjunto</th>
                                        <th>Inspetor</th>
                                        <th>Célula</th>
                                        <th>Código</th>
                                        <th>Execução</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inspecao_solda in inspecoes_solda %}
                                    <tr>
                                        <td data-title="#">{{inspecao_solda[0]}}</td>
                                        <td data-title="Data Inspeção">{{inspecao_solda[1]}}</td>
                                        <td data-title="Peca">{{inspecao_solda[6]}}</td>
                                        <td data-title="Inspetor">{{inspecao_solda[3]}}</td>
                                        <td data-title="Célula">{{inspecao_solda[11]}}</td>
                                        <td data-title="Código">{{inspecao_solda[12]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalTimeline('{{inspecao_solda[0]}}','Solda')">
                                                        Histórico Inspeção
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Card tabela reinspeção -->
                <div class="card-body" id="reinspecionadosSoldaTable" style="display: none;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableReinspecaoSolda" width="100%"
                                cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data Inspeção</th>
                                        <th>Conjunto</th>
                                        <th>Inspetor</th>
                                        <th>N° Não Conformidade</th>
                                        <th>Tipo de Não Conformidade</th>
                                        <th>Exec</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reinspecao_solda in reinspecoes_solda %}
                                    <tr>
                                        <td data-title="#">{{reinspecao_solda[0]}}</td>
                                        <td data-title="Data Reinspeção">{{reinspecao_solda[1]}}</td>
                                        <td data-title="Conjunto">{{reinspecao_solda[6]}}</td>
                                        <td data-title="Inspetor">{{reinspecao_solda[4]}}</td>
                                        <td data-title="N° Não Conformidade">{{reinspecao_solda[2]}}</td>
                                        <td data-title="Tipo de Não Conformidade">{{reinspecao_solda[7]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalReinspecaoSolda(
                                                        '{{reinspecao_solda[0]}}',
                                                        '{{reinspecao_solda[1]}}',
                                                        '{{reinspecao_solda[2]}}',
                                                        '{{reinspecao_solda[6]}}',
                                                        '{{reinspecao_solda[7]}}',
                                                        '{{reinspecao_solda[6]}}',
                                                        '{{reinspecao_solda[7]}}',
                                                        '{{reinspecao_solda[8]}}',
                                                        '{{reinspecao_solda[9]}}',
                                                        '{{reinspecao_solda[10]}}'
                                                    )">Reinspeção
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Vídeo -->
            <div class="modal fade" data-backdrop="static" id="inspecionarConjunto" tabindex="-1" role="dialog"
                aria-labelledby="inspecionarConjuntoLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="inspecionarConjuntoLabel">Inspeção</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; height: 60vh; overflow-y: auto;">
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Data da inspeção</label>
                                    <input type="text" class="form-control desabilitado" name="data_inspecao_solda"
                                        id="data_inspecao_solda" style="font-size: 14px;" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Categoria</label>
                                    <input type="text" class="form-control desabilitado" id="inputCategoria" autocomplete="off"
                                            aria-describedby="basic-addon2" style="font-size: 12px; cursor: default;" disabled>
                                </div>
                            </div>
                            <div class="row" style="align-items: end;">
                                <div class="col-sm-6 mb-4">
                                    <label>Conjunto</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control desabilitado" id="inputConjunto" autocomplete="off"
                                            aria-describedby="basic-addon2" style="font-size: 12px; cursor: default;" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-4">
                                    <label>N° de peças produzidas</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control desabilitado" id="inputPecasProduzidas"
                                            style="font-size: 12px;" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-4">
                                    <label>N° peças inspecionadas</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control desabilitado" id="inputPecasInspecionadasSolda"
                                            style="font-size: 12px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Total de conformidades</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="inputConformidadesSolda"
                                            style="font-size: 12px;">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Total de <strong>NÃO</strong> conformidades</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control desabilitado" id="inputNaoConformidadesSolda"
                                            style="font-size: 12px;" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="coluna_causa_solda" class="col-sm-12">

                                </div>
                            </div>
                            <div class="row" style="align-items: end;">
                                <div class="col-sm-6 mb-4">
                                    <label>Inspetor</label>
                                    <select class="form-control" name="inspetorSolda" id="inspetorSolda" style="font-size: 12px;">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Leônidas">Leônidas</option>
                                        <option value="Severiano">Severiano</option>
                                        <option value="Marcelo">Marcelo</option>
                                        <option value="Henrique">Henrique</option>
                                        <option value="Guthemberg">Guthemberg</option>
                                        <option value="Elenilson">Elenilson</option>
                                        <option value="Estefane">Estefane</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Outro motivo<small><code> *Preencha caso tenha "Outro" listado nas causas</code></small></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control desabilitado" autocomplete="off"
                                            id="outraCausaSolda" style="font-size: 12px;" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Observação</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control desabilitado" name="observacaoSolda"
                                            id="observacaoSolda" style="font-size: 12px;">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4" id="origemInspecaoCol">
                                    <label>Origem</label>
                                    <div class="input-group">
                                        <select class="form-control" name="origemInspecaoSoldaReinspecionadas"
                                            id="origemInspecaoSoldaReinspecionadas" style="font-size: 12px;">
                                            <option value="" selected hidden disabled></option>
                                            <option value="Corte">Corte</option>
                                            <option value="Estamparia">Estamparia</option>
                                            <option value="Usinagem">Usinagem</option>
                                            <option value="Fornecedor">Fornecedor</option>
                                            <option value="Solda">Solda</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="envio_inspecao_solda" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="reinspecaoModalSolda" tabindex="-1" role="dialog"
                aria-labelledby="reinspecaoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reinspecionarConjuntoLabel">Reinspeção</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; height: 60vh; overflow-y: auto;">
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Data da reinspeção</label>
                                    <input type="text" class="form-control" name="data_reinspecao_solda"
                                        id="data_reinspecao_solda" style="font-size: 12px;" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Categoria</label>
                                    <input type="text" class="form-control" style="font-size: 12px;" id="categoria_reinspecao_solda" 
                                        name="categoria_reinspecao_solda" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Conjunto</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inputConjuntoReinspecao"
                                            autocomplete="off" aria-describedby="basic-addon2"
                                            style="font-size: 12px; cursor: default;" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>N° peças inspecionadas</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="inputPecasReinspecionadasSolda"
                                            style="font-size: 12px;" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>N° conformidades</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control"
                                            id="inputReinspecionadasConformidadesSolda" style="font-size: 12px;">
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>N° não conformidades</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control"
                                            id="inputReinspecionadasNaoConformidadesSolda" style="font-size: 12px;"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="coluna_causa_reinspecao_solda" class="col-sm-12">

                                </div>
                            </div>
                            <div class="row" style="align-items: end;">
                                <div class="col-sm-6 mb-4">
                                    <label>Outro motivo<small><code> *Preencha caso tenha "Outro" listado nas causas</code></small></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control desabilitado" autocomplete="off"
                                            id="outraCausaSoldaReinspecionadas" style="font-size: 12px;" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Inspetores</label>
                                    <select class="form-control" name="inspetoresSoldaReinspecao" id="inspetoresSoldaReinspecao" style="font-size: 12px;">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Leônidas">Leônidas</option>
                                        <option value="Severiano">Severiano</option>
                                        <option value="Marcelo">Marcelo</option>
                                        <option value="Henrique">Henrique</option>
                                        <option value="Guthemberg">Guthemberg</option>
                                        <option value="Elenilson">Elenilson</option>
                                        <option value="Estefane">Estefane</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Origem</label>
                                    <div class="input-group">
                                        <select class="form-control" name="origemSoldaReinspecionadas"
                                            id="origemSoldaReinspecionadas" style="font-size: 12px;">
                                            <option value="" selected hidden disabled></option>
                                            <option value="Corte">Corte</option>
                                            <option value="Estamparia">Estamparia</option>
                                            <option value="Usinagem">Usinagem</option>
                                            <option value="Fornecedor">Fornecedor</option>
                                            <option value="Solda">Solda</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Observação</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control desabilitado"
                                            name="observacaoSoldaReinspecionadas" id="observacaoSoldaReinspecionadas"
                                            style="font-size: 12px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="selectContainer">
                                <div class="col-sm-6 mb-4" id="selectBlock">
                                    <label>Retrabalho</label>
                                    <select class="form-control" name="retrabalhoSolda" id="retrabalhoSolda" style="font-size: 12px;">
                                        <option value="" selected hidden disabled></option>
                                        {% for soldador in lista_soldadores %}
                                        <option value="{{soldador}}">{{soldador}}</option> 
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6" style="display: flex; justify-content: space-between; align-items: center;">
                                    <button class="btn btn-primary" id="addButton" onclick="addSelect()" style="font-size: 10px;">Adicionar insp.</button>
                                    <button class="btn btn-danger" id="removeButton" onclick="removeSelect()" style="font-size: 10px;" disabled>Remover insp.</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="envio_reinspecao_Solda" class="btn btn-primary">Enviar</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="visualizacaoCausasModal" tabindex="-1" role="dialog"
                aria-labelledby="visualizacaoCausasModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="visualizacaoCausasModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <h6 id="descricao_causas">Descrição das causas</h6>
                            <ul id="lista_nao_ordenada" style="padding: 0;">
                            </ul>
                            
                            <div id="img_visualizacaoCausas">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="editarConformidadesModal" tabindex="-1" role="dialog"
                aria-labelledby="editarConformidadesModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarConformidadesModalTitle">Editar conformidades</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <div class="row">
                                <div class="col-sm-4 mb-4">
                                    <label>Id</label>
                                    <input type="text" class="form-control" id="id_edicao" disabled>
                                </div>
                                <div class="col-sm-8 mb-4 d-flex flex-column justify-content-end">
                                    <label>Descrição da Peça</label>
                                    <input type="text" class="form-control" id="descricao_peca_edicao" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 mb-4 d-none">
                                    <label>Número da Execução</label>
                                    <input type="number" class="form-control" id="num_execucao_edicao" disabled>
                                </div>
                                <div class="col-sm-4 mb-4 d-none">
                                    <label>Não Conformidades</label>
                                    <input type="number" class="form-control" id="nao_conformidades_edicao" disabled>
                                </div>
                                <div class="col-sm-4 mb-4 d-none">
                                    <label>Subtração da Execução</label>
                                    <input type="number" class="form-control" id="num_causas_edicao" disabled>
                                </div>
                                <div class="col-sm-6 mb-4 d-flex flex-column justify-content-end">
                                    <label>Quantidade de conformidades</label>
                                    <input type="number" class="form-control" id="qtd_conformidade_edicao" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Quantidade de conformidades atualizada</label>
                                    <input type="number" class="form-control" id="qtd_conformidade_atualizada_edicao">
                                </div>
                            </div>
                            <div class="row">
                                <div id="coluna_causa_edicao_solda" class="col-sm-12">

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="atualizarConformidades">Atualizar conformidades</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog" aria-labelledby="modalTimelineLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">Histórico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                            <div class="list-group" id="listaHistorico">
                                
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <p id="modal-footer-quantidade-produzida"></p>
                            <p id="modal-footer-quantidade-reinspecao"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalConfirmacaoSolda" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacaoSoldaLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">
                                <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                                Atenção
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="p_confirmar_inspecao_solda"></p>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Total Conformidade</label>
                                    <input type="text" class="form-control" id="confirmarConformidades" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Total Não Conformidade</label>
                                    <input type="text" class="form-control" id="confirmarNaoConformidades" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" style="display: none;" id="btnEnviarSolda">Confirmar</button>
                            <button type="button" class="btn btn-primary" style="display: none;" id="btnEnviarSoldaReinspecao">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading" id="loading" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>

        {% endblock %}

        {% block scripts %}

        <!-- Script tabela JQuery -->

        <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="static/js/demo/datatables-demo.js"></script>
        <script src="static/js/qualidade/inspecao-solda.js"></script>
        <script src="static/js/qualidade/inspecao-pintura.js"></script>
        <script src="static/js/qualidade/reinspecao-solda.js"></script>
        <script src="static/js/qualidade/select_inspetor_solda.js"></script>
        <script src="static/js/qualidade/selects_causa_pintura_solda.js"></script>


        {% endblock %}