{% extends 'sidebar.html' %}

{% block title %}
<title>Inspeção Estanqueidade Tubos e Cilindros</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">

{% endblock %}

{% block containerFluid %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Inspeção Estanqueidade Tubos e Cilindros</h1>
        <div class="d-sm-flex flex-column mb-4">
            <button class="btn btn-primary mb-2" style="font-size: 14px;" id="button_estanqueidade_cilindro" onclick="modalCilindros()">Inspeção de estanqueidade dos cilindros</i></button>
            <button class="btn btn-primary mb-2" style="font-size: 14px;" id="button_estanqueidade_tubo" onclick="modalTubos()">Inspeção de estanqueidade dos tubos</i></button>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- tabela gerar cambão -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="changeTab('reteste')"
                                style="cursor: pointer;">Reinspeção</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('Estanqueidade')"
                                style="cursor: pointer;">Inspecionados</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body" id="retesteTable" style="display: block;">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableRetesteSolda" width="100%"
                                cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data da Inspecao</th>
                                        <th>Código - Descrição</th>
                                        <th>Inspetor</th>
                                        <th>Qtd. Não Conforme</th>
                                        <th>Tipo Inspecão</th>
                                        <th>Executar Reteste</th>
                                    </tr>
                                </thead>
                                <tbody id="tabela-reteste">
                                    {% for reinspecao in reinspecao_dados %}
                                    <tr>
                                        <td data-title="#">{{reinspecao[0]}}</td>
                                        <td data-title="Data da Inspecao" class="data-inspecao">{{reinspecao[3]}}</td>
                                        <td data-title="Código - Descrição">{{reinspecao[4]}} - {{reinspecao[5]}}</td>
                                        <td data-title="Inspetor">{{reinspecao[6]}}</td>
                                        <td data-title="Qtd. Não Conforme">{{reinspecao[2]}}</td>
                                        <td data-title="Tipo Inspecão">{{reinspecao[9]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalReteste('{{reinspecao[0]}}','{{reinspecao[5]}}','{{reinspecao[3]}}','{{reinspecao[7]}}','{{reinspecao[2]}}','{{reinspecao[9]}}')">
                                                        Executar Reteste
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Card tabela inspecionados -->
                <div class="card-body" id="EstanqueidadeTable" style="display: none;">
                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableEstanqueidadeTable" width="100%" cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data da Inspeção</th>
                                        <th>Código - Descrição</th>
                                        <th>Inspetor</th>
                                        <th>Quantidade Inspecionada</th>
                                        <th>Tipo da inspeção</th>
                                        <th>Não conformidade</th>
                                        <th>Histórico</th>
                                    </tr>
                                </thead>
                                <tbody id="tabela-inspecoes">
                                    {% for inspecao in inspecao_dados %}
                                    <tr>
                                        <td data-title="#">{{inspecao[0]}}</td>
                                        <td data-title="Data da Inspeção" class="data-inspecao">{{inspecao[1]}}</td>
                                        <td data-title="Código - Descrição">{{inspecao[2]}} - {{inspecao[3]}}</td>
                                        <td data-title="Inspetor">{{inspecao[5]}}</td>
                                        <td data-title="Quantidade Inspecionada">{{inspecao[4]}}</td>
                                        <td data-title="Tipo da inspeção">{{inspecao[6]}}</td>
                                        <td data-title="Não conformidadea">{{inspecao[7]}}</td>
                                        <td data-title="Histórico">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalHistoricoEstanqueidade('{{inspecao[0]}}','{{inspecao[6]}}')">
                                                        Histórico de Inspeção
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="cilindrosModal" tabindex="-1" role="dialog"
                aria-labelledby="cilindrosModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="cilindrosModalTitle">Cilindros</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                                <div class="row">
                                    <div class="col-sm-6 mb-4">
                                        <label>Data da Inspeção</label>
                                        <input type="text" class="form-control" id="data_cilindro" disabled>
                                    </div>
                                    <div class="col-sm-6 mb-4 d-flex flex-column justify-content-end">
                                        <label>Inspetor</label>
                                        <select class="form-control" name="inspetores_cilindro" id="inspetores_cilindro" required>
                                            <option value="" hidden selected disabled></option>
                                            <option value="Matheus">Matheus</option>
                                            <option value="Cauã">Cauã</option>
                                            <option value="Paulo">Paulo</option>
                                            <option value="Gabriel">Gabriel</option>
                                            <option value="Leonidas">Leonidas</option>
                                            <option value="Marcelo">Marcelo</option>
                                            <option value="Severiano">Severiano</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mb-4">
                                        <label>Código</label>
                                        <select class="form-control"  name="produtoEstanqueidade_cilindro" id="produtoEstanqueidade_cilindro" required>
                                            <option value="" disabled hidden selected></option>
                                            <option value="034550 - CILINDRO HIDRÁULICO [CBH5/CBHM5000]">034550 - CILINDRO HIDRÁULICO [CBH5/CBHM5000]</option>
                                            <option value="034830 - CILINDRO HIDRÁULICO [CBH7/CBHM6000]">034830 - CILINDRO HIDRÁULICO [CBH7/CBHM6000]</option>
                                            <option value="034630 - CILINDRO HIDRÁULICO [CBHM6000 CAFEEIRA]">034630 - CILINDRO HIDRÁULICO [CBHM6000 CAFEEIRA]</option>
                                            <option value="240471 - CILINDRO TELESCÓPICO CBH 6T 10 OC NV">240471 - CILINDRO TELESCÓPICO CBH 6T 10 OC NV</option>
                                            <option value="035262 - CILINDRO HIDRÁULICO LARANJA [MCF16 M24]">035262 - CILINDRO HIDRÁULICO LARANJA [MCF16 M24]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-4">
                                        <label>Quantidade inspecionada</label>
                                        <input type="number" min="1" class="form-control" id="qtd_inspecionada_cilindro" required> 
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        <label>Não conformidade</label>
                                        <input type="number" min="0" class="form-control" id="nao_conformidade_cilindro" required> 
                                    </div>
                                </div>
                                <div id="campo_causas_cilindro_estanqueidade">
                                    <div class="row" id="causasContainerEstanqueidadeCilindro">
                                        <div class="causasBlock d-flex">
                                            <div class="col-sm-5 mb-4 selectBlock" id="selectBlock-0">
                                                <label>Causas</label>
                                                <select class="form-control causas_cilindro" required>
                                                    <option value="" hidden selected disabled></option>
                                                    <option value="Oxidação">Oxidação</option>
                                                    <option value="Haste">Haste</option>
                                                    <option value="Dimensional">Dimensional</option>
                                                    <option value="Estanqueidade">Estanqueidade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3 mb-4 quantidadeBlock">
                                                <label>Quantidade</label>
                                                <input type="number" min="1" style="font-size: 14px;" class="form-control quantidade_causas_cilindro" required>
                                            </div>
                                            <div class="col-sm-4 mb-4 customFile customFileBlock">
                                                <div><p style="display: inline-block;margin-bottom: .5rem;">Arquivo</p></div>
                                                <input type="file" class="custom-file-input" accept="image/*" disabled>
                                                <label class="custom-file-label" style="top: auto;">0 arquivos</label>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-sm-12 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
                                        <a class="btn btn-primary" id="addButtonEstanqueidadeCilindro" style="font-size: 10px;">Adicionar causa</a>
                                        <a class="btn btn-danger" id="removeButtonEstanqueidadeCilindro" style="font-size: 10px;">Remover causa</a>
                                    </div>                                  
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-4" id="div_motivo_cilindro">
                                        <label>Motivo</label>
                                        <input type="text" class="form-control" id="motivo_cilindro" required> 
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        <label>Observação</label>
                                        <input type="text" class="form-control" id="observacao_cilindro"> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mb-4">
                                        <label>Ficha</label>
                                        <input type="text" class="form-control" id="ficha_cilindro" required> 
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="verificar_cilindro" type="submit">
                                    <span id="spinner-cilindro-estanqueidade" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span id="status-button-cilindro-estanqueidade" role="status">Inspecionar</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="estanqueidadeTubosModal" tabindex="-1" role="dialog"
                aria-labelledby="tubosModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title" id="tubosModalTitle">Tubos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                                <div class="row">
                                    <div class="col-sm-6 mb-4">
                                        <label>Data da Inspeção</label>
                                        <input type="text" class="form-control" id="data_tubo" disabled>
                                    </div>
                                    <div class="col-sm-6 mb-4 d-flex flex-column justify-content-end">
                                        <label>Inspetor</label>
                                        <select class="form-control inspetor_tubo_estanqueidade" id="inspetor_tubo_estanqueidade" required>
                                            <option value="" hidden selected disabled></option>
                                            <option value="Carlos Henrique">Carlos Henrique</option>
                                            <option value="Gabriel Florêncio">Gabriel Florêncio</option>
                                            <option value="Bruno Sousa">Bruno Sousa</option>
                                            <option value="Gabriel G.">Gabriel G.</option>
                                            <option value="Francisco Paulo">Francisco Paulo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mb-4">
                                        <label>Código</label>
                                        <select class="form-control produto_tubo_estanqueidade" id="produto_tubo_estanqueidade" required>
                                            <option value="" disabled hidden selected></option>
                                            <option value="030671 - TUBO HIDRÁULICO [CBHM5000 M17]">030671 - TUBO HIDRÁULICO [CBHM5000 M17]</option>
                                            <option value="031566 - TUBO HIDRÁULICO [CBH6/CBHM6000-2E M17]">031566 - TUBO HIDRÁULICO [CBH6/CBHM6000-2E M17]</option>
                                            <option value="030753 - TUBO HIDRÁULICO [CBH6/CBH7/CBHM6000]">030753 - TUBO HIDRÁULICO [CBH6/CBH7/CBHM6000]</option>
                                            <option value="030671 - TUBO HIDRÁULICO [CBHM5000 M17]">030671 - TUBO HIDRÁULICO [CBHM5000 M17]</option>
                                            <option value="035088 - TUBO HIDRÁULICO ESTEIRA ELEVADA INFERIOR / MCF">035088 - TUBO HIDRÁULICO ESTEIRA ELEVADA INFERIOR / MCF</option>
                                            <option value="034029 - TUBO HIDRÁULICO ESTEIRA DIREITA /MCF">034029 - TUBO HIDRÁULICO ESTEIRA DIREITA /MCF</option>
                                            <option value="035698 - TUBO HIDRÁULICO ESTEIRA ELEVADA SUPERIOR / MCF">035698 - TUBO HIDRÁULICO ESTEIRA ELEVADA SUPERIOR / MCF</option>
                                            <option value="035465 - TUBO HIDRÁULICO MAIOR [CTH4500]">035465 - TUBO HIDRÁULICO MAIOR [CTH4500]</option>
                                            <option value="035467 - TUBO HIDRÁULICO MENOR [CTH4500]">035467 - TUBO HIDRÁULICO MENOR [CTH4500]</option>
                                            <option value="034776 - TUBO HIDRAULICO DE RETORNO DOS CILINDROS / MCF">034776 - TUBO HIDRAULICO DE RETORNO DOS CILINDROS / MCF</option>
                                            <option value="035090 - TUBO HIDRAULICO DE RETORNO DOS MOTORES / MCF">035090 - TUBO HIDRAULICO DE RETORNO DOS MOTORES / MCF</option>
                                            <option value="035441 - TUBO HIDRAULICO DOS CILINDROS / MCF">035441 - TUBO HIDRAULICO DOS CILINDROS / MCF</option>
                                            <option value="035700 - TUBO HIDRAULICO DE RETORNO EST. DIR. 03 / MCF">035700 - TUBO HIDRAULICO DE RETORNO EST. DIR. 03 / MCF</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-baseline">
                                    <div class="col-4 mb-4">
                                        <label>Quantidade inspecionada</label>
                                        <input type="number" min="1" class="form-control qtd_inspecionada_tubo_estanqueidade" id="qtd_inspecionada_tubo_estanqueidade" required> 
                                    </div>
                                    <div class="col-4 mb-4">
                                        <label>Não conforme retrabalho</label>
                                        <input type="number" min="0" class="form-control nao_conformidade_retrabalho_tubo_estanqueidade" id="nao_conformidade_retrabalho_tubo_estanqueidade" required> 
                                    </div>
                                    <div class="col-4 mb-4">
                                        <label>Não conforme refugo</label>
                                        <input type="number" min="0" class="form-control nao_conformidade_refugo_tubo_estanqueidade" id="nao_conformidade_refugo_tubo_estanqueidade" required> 
                                    </div>
                                </div>
                                <div class="row" id="causasContainerEstanqueidadeTubo">
                                    <div class="causasBlock d-flex">
                                        <div class="col-sm-5 mb-4 selectBlock" id="selectBlock-0">
                                            <label>Causas</label>
                                            <select class="form-control causas_tubos" required>
                                                <option value="" hidden selected disabled></option>
                                                <option value="Oxidação">Oxidação</option>
                                                <option value="Haste">Haste</option>
                                                <option value="Dimensional">Dimensional</option>
                                                <option value="Estanqueidade">Estanqueidade</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-4 quantidadeBlock">
                                            <label>Quantidade</label>
                                            <input type="number" min="1" style="font-size: 14px;" class="form-control quantidade_causas_tubos" required>
                                        </div>
                                        <div class="col-sm-4 mb-4 customFile customFileBlock">
                                            <div><p style="display: inline-block;margin-bottom: .5rem;">Arquivo</p></div>
                                            <input type="file" class="custom-file-input" accept="image/*" disabled>
                                            <label class="custom-file-label" style="top: auto;">0 arquivos</label>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-12 mb-4" id="add_causa_tubo_estanqueidade" style="display: flex; justify-content: space-between; align-items: center;">
                                    <a class="btn btn-primary" id="addButtonEstanqueidadeTubo" style="font-size: 10px;">Adicionar causa</a>
                                    <a class="btn btn-danger" id="removeButtonEstanqueidadeTubo" style="font-size: 10px;">Remover causa</a>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-4" id="div_motivo_tubos">
                                        <label>Motivo</label>
                                        <input type="text" class="form-control" id="motivo_tubo_estanqueidade" required> 
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        <label>Observação</label>
                                        <input type="text" class="form-control" id="observacao_tubo_estanqueidade"> 
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        <label>Ficha</label>
                                        <input type="text" class="form-control" id="ficha_tubo_estanqueidade" required> 
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="verificar_tubo" type="submit">
                                    <span id="spinner-tubo-estanqueidade" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span id="status-button-tubo-estanqueidade" role="status">Inspecionar</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" data-backdrop="static" id="modalReteste" tabindex="-1" role="dialog" aria-labelledby="modalRetesteLabel">
                <div class="modal-dialog" role="document">
                    <form>
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="m-0 font-weight-bold text-primary">
                                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                                    Atenção
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="overflow-y: auto; max-height: 650px;">
                                <p id="reteste_descricao"></p>
                                <div class="row">
                                    <div class="col-sm-2 mb-4 d-none">
                                        <label>id</label>
                                        <input type="text" class="form-control" id="id_reteste" disabled>
                                    </div>
                                </div>
                                <div class="row align-items-baseline">
                                    <div class="col-sm-4 mb-4">
                                        <label>Reteste</label>
                                        <select class="form-control" name="reteste_status_estanqueidade" id="reteste_status_estanqueidade" required>
                                            <option value="" selected hidden disabled></option>
                                            <option value="Conforme">Conforme</option>
                                            <option value="Não Conforme">Não Conforme</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Quant. Reinspecão</label>
                                        <input type="text" class="form-control" id="qnt_reinspecao" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-4">
                                        <label>Tipo Inspeção</label>
                                        <input type="text" class="form-control" id="tipo_inspecao_estanqueidade" disabled>
                                    </div>
                                </div>
                                <div class="row" id="nao_conformidade_tubos">

                                </div>
                                <div class="row" id="causasContainerEstanqueidade" style="display: none;">
                                    <div id="causas_estanqueidade" class="causasBlock d-flex">
                                        <div class="col-sm-5 mb-4 selectBlock">
                                            <label>Causas</label>
                                            <select class="form-control causasTuboEstanqueidade" name="causasTuboEstanqueidade" required>
                                                <option value="" hidden selected disabled></option>
                                                <option value="Amassado">Amassado</option>
                                                <option value="Oxidação">Oxidação</option>
                                                <option value="Solda">Solda</option>
                                                <option value="Dimensional">Dimensional</option>
                                                <option value="Pressão">Pressão</option>
                                                <option value="Vazamento">Vazamento</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 mb-4 quantidadeBlock">
                                            <label id="qtd_causa_tubo">Quantidade</label>
                                            <input type="number" min="1" style="font-size: 14px;" class="form-control quantidade_tubo_estanqueidade" required>
                                        </div>
                                        <div class="col-sm-4 mb-4 customFile customFileBlock">
                                            <div><p style="display: inline-block;margin-bottom: .5rem;">Arquivo</p></div>
                                            <input type="file" class="custom-file-input inputGroupFile_tubo" accept="image/*" disabled>
                                            <label class="custom-file-label" style="top: auto;">0 arquivos</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-4" id="add_remove_cause" style="display: none; justify-content: space-between; align-items: center;">
                                    <a class="btn btn-primary" id="addButtonEstanqueidade" style="font-size: 10px;">Adicionar causa</a>
                                    <a class="btn btn-danger" id="removeButtonEstanqueidade" style="font-size: 10px;" disabled>Remover causa</a>
                                </div>
                                <div class="row" id="motivo_ficha_retrabalho_estanqueidade" style="display: none;">
                                    <div class="col-sm-6 mb-4">
                                        <label>Motivo</label>
                                        <input type="text" class="form-control" id="motivo_reteste_estanqueidade" required>
                                    </div>
                                    <div class="col-sm-6 mb-4">
                                        <label>Observação</label>
                                        <input type="text" class="form-control" id="observacao_reteste_estanqueidade">
                                    </div>
                                    <div class="col-sm-12 mb-4">
                                        <label for="ficha_reteste_estanqueidade">Ficha de Inspeção</label>
                                        <input type="text" class="form-control" id="ficha_reteste_estanqueidade" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-4 d-flex flex-column justify-content-end" id="inspetor_reteste_estanqueidade">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" id="verificar_reteste" type="submit">
                                    <span id="spinner-reteste-estanqueidade" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                                    <span id="status-button-reteste-estanqueidade" role="status">Inspecionar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">Histórico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                            <div class="list-group" id="listaHistorico">
                                
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <p id="modal-footer-quantidade-produzida"></p>
                            <p id="modal-footer-quantidade-reinspecao"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="visualizacaoCausasModal" tabindex="-1" role="dialog"style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="visualizacaoCausasModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">                         
                            <div id="img_visualizacaoCausas">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading" id="loading" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>

        {% endblock %}

        {% block scripts %}

        <!-- Script tabela JQuery -->

        <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="static/js/demo/datatables-demo.js"></script>
        <script src="/static/js/qualidade/inspecao-pintura.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade/events_inputs_estanqueidade.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade/modal-inspecao-estanqueidade-tubos-cilindros.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade/addCausasEstanqueidade.js"></script>
        <script src="/static/js/qualidade/inspecao_estanqueidade/envio_formulario.js"></script>

        <script>
            function changeTab(tabName) {
                // Ocultar todas as tabelas
                var tables = document.querySelectorAll('.card-body');
                tables.forEach(function(table) {
                    table.style.display = 'none';
                });

                // Mostrar a tabela correspondente à aba clicada
                document.getElementById(tabName + 'Table').style.display = 'block';

                // Remover a classe "active" de todas as abas
                var tabs = document.querySelectorAll('.nav-link');
                tabs.forEach(function(tab) {
                    tab.classList.remove('active');
                });

                // Adicionar a classe "active" à aba clicada
                var clickedTab = document.querySelector('[onclick="changeTab(\'' + tabName + '\')"]');
                clickedTab.classList.add('active');
            }
        </script>
        
{% endblock %}