{% extends 'sidebar.html' %}

{% block title %}
<title>Inspeção Solda</title>
{% endblock %}

{% block links %}
<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">

{% endblock %}

{% block containerFluid %}

<div class="container-fluid f-14">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Inspeção Tubos e Cilindros</h1>
        <div class="d-sm-flex flex-column justify-content-between mb-4" style="width: 200px;">
            <button class="btn btn-primary mb-2" onclick="modalCilindros()">Inspecionar Cilindros <i class="fa-solid fa-plus"></i></button>
            <button class="btn btn-primary" onclick="modalTubos()">Inspecionar Tubos <i class="fa-solid fa-plus"></i></button>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- tabela gerar cambão -->
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" onclick="changeTab('reteste')"
                                style="cursor: pointer;">Reteste</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="changeTab('TubosCilindros')"
                                style="cursor: pointer;">Inspecionados</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body" id="retesteTable" style="display: block;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableRetesteSolda" width="100%"
                                cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data da Inspecao</th>
                                        <th>Código - Descrição</th>
                                        <th>Categoria</th>
                                        <th>Qtd. Não Conforme</th>
                                        <th>Executar Reteste</th>
                                    </tr>
                                </thead>
                                <tbody id="tabela-reteste">
                                    {% for cilindro_tubo in dado_reteste_cilindros_tubos %}
                                    <tr>
                                        <td data-title="#">{{cilindro_tubo[0]}}</td>
                                        <td data-title="Data da Inspecao" class="data-inspecao">{{cilindro_tubo[1]}}</td>
                                        <td data-title="Código - Descrição">{{cilindro_tubo[6]}}</td>
                                        <td data-title="Categoria">{{cilindro_tubo[7]}}</td>
                                        <td data-title="Qtd. Não Conforme">{{cilindro_tubo[2]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalReteste('{{cilindro_tubo[0]}}','{{cilindro_tubo[6]}}','{{cilindro_tubo[3]}}')">
                                                        Executar Reteste
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Card tabela inspecionados -->
                <div class="card-body" id="TubosCilindrosTable" style="display: none;">
                    <div id="no-more-tables">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableTubosCilindrosTable" width="100%" cellspacing="0">
                                <thead class="cf">
                                    <tr>
                                        <th>#</th>
                                        <th>Data da Inspeção</th>
                                        <th>Código - Descrição</th>
                                        <th>Inspetor</th>
                                        <th>Histórico</th>
                                    </tr>
                                </thead>
                                <tbody id="tabela-inspecoes">
                                    {% for dado_inspecao in dado_inspecao_cilindros_tubos %}
                                    <tr>
                                        <td data-title="#">{{dado_inspecao[0]}}</td>
                                        <td data-title="Data da Inspeção" class="data-inspecao">{{dado_inspecao[1]}}</td>
                                        <td data-title="Descrição">{{dado_inspecao[2]}}</td>
                                        <td data-title="Inspetor">{{dado_inspecao[3]}}</td>
                                        <td data-title="Exec">
                                            <div class="col-sm-4 d-flex justify-content-center align-items-center"
                                                style="padding-left: 0.35rem;">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    style="cursor: pointer;">
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <a  class="dropdown-item dropdown_os"
                                                        style="cursor: pointer;" onclick="modalTimeline('{{dado_inspecao[0]}}','Solda - Cilindro ou Tubo')">
                                                        Histórico de Inspeção
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="cilindrosModal" tabindex="-1" role="dialog"
                aria-labelledby="cilindrosModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cilindrosModalTitle">Cilindros</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <div class="row">
                                <div class="col-sm-4 mb-4">
                                    <label>Data da Inspeção</label>
                                    <input type="text" class="form-control" id="data_cilindro" disabled>
                                </div>
                                <div class="col-sm-4 mb-4 d-flex flex-column justify-content-end">
                                    <label>Inspetor</label>
                                    <select class="form-control" name="inspetores_cilindro" id="inspetores_cilindro">
                                        <option value="" hidden selected disabled></option>
                                        <option value="Matheus">Matheus</option>
                                        <option value="Cauã">Cauã</option>
                                        <option value="Paulo">Paulo</option>
                                        <option value="Gabriel">Gabriel</option>
                                        <option value="Leonidas">Leonidas</option>
                                        <option value="Marcelo">Marcelo</option>
                                        <option value="Severiano">Severiano</option>
                                        <option value="Guthemberg">Guthemberg</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-4">
                                    <label>Montador</label>
                                    <input type="text" class="form-control" id="montador_cilindro">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 mb-4">
                                    <label>Código</label>
                                    <input type="text" class="form-control" id="codigo_cilindro">
                                </div>
                                <div class="col-sm-9 mb-4 d-flex flex-column justify-content-end">
                                    <label>Descrição</label>
                                    <input type="text" class="form-control" id="descricao_cilindro"> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Quantidade inspecionada</label>
                                    <input type="number" class="form-control" id="qtd_inspecionada_cilindro"> 
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Não conformidade</label>
                                    <input type="number" class="form-control" id="nao_conformidade_cilindro"> 
                                </div>
                                <div class="col-sm-4 mb-4" style="display: none;">
                                    <label>Qtd. causas das <strong>NÃO</strong> conformidades</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control desabilitado" id="tipos_causas_cilindro" value="1"
                                            style="font-size: 12px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="selectContainer">
                                <div class="col-sm-5 mb-4 selectBlock" id="selectBlock-0">
                                    <label>Causas</label>
                                    <select id="causasCilindroC-0" name="causasCilindroC-0" class="form-control">
                                        <option value="" hidden selected disabled></option>
                                        <option value="Amassado">Amassado</option>
                                        <option value="Oxidação">Oxidação</option>
                                        <option value="Solda">Solda</option>
                                        <option value="Dimensional">Dimensional</option>
                                        <option value="Pressão">Pressão</option>
                                        <option value="Vazamento">Vazamento</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 mb-4 quantidadeBlock" id="quantidadeBlock-0">
                                    <label id="qtd_causa_cilindro">Qtd. de causas</label>
                                    <input type="number" style="font-size: 14px;" class="form-control" name="quantidade_causas_cilindroC-0" id="quantidade_causas_cilindroC-0">
                                </div>
                                <div class="col-sm-4 mb-4 customFile customFileBlock" id="customFileBlock-0">
                                    <div><p style="display: inline-block;margin-bottom: .5rem;">Arquivo</p></div>
                                    <input type="file" class="custom-file-input" id="inputGroupFile_cilindroC-0" accept="image/*" multiple="true">
                                    <label class="custom-file-label" style="top: auto;">0 arquivos</label>
                                </div>
                                <div class="col-sm-12 mb-4" style="display: flex; justify-content: space-between; align-items: center;">
                                    <button class="btn btn-primary" id="addButton" style="font-size: 10px;">Adicionar causa</button>
                                    <button class="btn btn-danger" id="removeButton" style="font-size: 10px;" disabled>Remover causa</button>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-6 mb-4" id="div_motivo_cilindro">
                                    <label>Motivo</label>
                                    <input type="text" class="form-control" id="motivo_cilindro"> 
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Observação</label>
                                    <input type="text" class="form-control" id="observacao_cilindro"> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="verificar_cilindro">Inspecionar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="tubosModal" tabindex="-1" role="dialog"
                aria-labelledby="tubosModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tubosModalTitle">Tubos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <div class="row">
                                <div class="col-sm-4 mb-4">
                                    <label>Data da Inspeção</label>
                                    <input type="text" class="form-control" id="data_tubo" disabled>
                                </div>
                                <div class="col-sm-4 mb-4 d-flex flex-column justify-content-end">
                                    <label>Inspetor</label>
                                    <select class="form-control" name="inspetores_tubo" id="inspetores_tubo">
                                        <option value="" hidden selected disabled></option>
                                        <option value="Matheus">Matheus</option>
                                        <option value="Cauã">Cauã</option>
                                        <option value="Paulo">Paulo</option>
                                        <option value="Gabriel">Gabriel</option>
                                        <option value="Leonidas">Leonidas</option>
                                        <option value="Marcelo">Marcelo</option>
                                        <option value="Severiano">Severiano</option>
                                        <option value="Guthemberg">Guthemberg</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-4 d-flex flex-column justify-content-end">
                                    <label>Soldador</label>
                                    <input type="text" class="form-control" id="soldador_tubo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 mb-4">
                                    <label>Código</label>
                                    <input type="text" class="form-control" id="codigo_tubo">
                                </div>
                                <div class="col-sm-9 mb-4 d-flex flex-column justify-content-end">
                                    <label>Descrição</label>
                                    <input type="text" class="form-control" id="descricao_tubo"> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Quantidade inspecionada</label>
                                    <input type="number" class="form-control" id="qtd_inspecionada_tubo"> 
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Não conformidade</label>
                                    <input type="number" class="form-control" id="nao_conformidade_tubo"> 
                                </div>
                                <div class="col-sm-4 mb-4" style="display: none;">
                                    <label>Qtd. causas das <strong>NÃO</strong> conformidades</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control desabilitado" id="tipos_causas_tubo" value="1"
                                            style="font-size: 12px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="selectContainerTubos">
                                <div class="col-sm-5 mb-4 selectBlock" id="selectBlock-0">
                                    <label>Causas</label>
                                    <select id="causasCilindroT-0" name="causasCilindroT-0" class="form-control">
                                        <option value="" hidden selected disabled></option>
                                        <option value="Vazamento">Vazamento</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 mb-4 quantidadeBlock" id="quantidadeBlock-0">
                                    <label id="qtd_causa_cilindro">Qtd. de causas</label>
                                    <input type="number" style="font-size: 14px;" class="form-control" name="quantidade_causas_cilindroT-0" id="quantidade_causas_cilindroT-0">
                                </div>
                                <div class="col-sm-4 mb-4 customFile customFileBlock" id="customFileBlock-0">
                                    <div><p style="display: inline-block;margin-bottom: .5rem;">Arquivo</p></div>
                                    <input type="file" class="custom-file-input" id="inputGroupFile_cilindroT-0" accept="image/*" multiple="true">
                                    <label class="custom-file-label" style="top: auto;">0 arquivos</label>
                                </div>
                                <div class="col-sm-12 mb-4 d-none" style="display: flex; justify-content: space-between; align-items: center;">
                                    <button class="btn btn-primary" id="addButtonTubos" style="font-size: 10px;">Adicionar causa</button>
                                    <button class="btn btn-danger" id="removeButtonTubos" style="font-size: 10px;" disabled>Remover causa</button>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-6 mb-4" id="div_motivo_tubo">
                                    <label>Motivo</label>
                                    <input type="text" class="form-control" id="motivo_tubo"> 
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Observação</label>
                                    <input type="text" class="form-control" id="observacao_tubo"> 
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" id="verificar_tubo">Inspecionar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalConfirmacaoSolda" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacaoSoldaLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">
                                <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                                Atenção
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="p_confirmar_inspecao_tubo_cilindro"></p>
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label>Total Inspecionado</label>
                                    <input type="text" class="form-control" id="confirmarConformidades" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label>Total Não Conformidade</label>
                                    <input type="text" class="form-control" id="confirmarNaoConformidades" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" style="display: none;" id="btnEnviarCilindro">Confirmar</button>
                            <button type="button" class="btn btn-primary" style="display: none;" id="btnEnviarTubo">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" data-backdrop="static" id="modalReteste" tabindex="-1" role="dialog" aria-labelledby="modalRetesteLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">
                                <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                                Atenção
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="p_confirmar_reteste_tubo_cilindro"></p>
                            <div class="row">
                                <div class="col-sm-2 mb-4 d-none">
                                    <label>id</label>
                                    <input type="text" class="form-control" id="id_reteste" disabled>
                                </div>
                                <div class="col-sm-12 mb-4">
                                    <label>Descrição do Produto</label>
                                    <input type="text" class="form-control" id="causaReteste1" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 mb-4">
                                    <label>Reteste 1</label>
                                    <select class="form-control" name="reteste_status1" id="reteste_status1">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Conforme">Conforme</option>
                                        <option value="Não Conforme">Não Conforme</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-4" id="linha_reteste2" style="display: none;">
                                    <label>Reteste 2</label>
                                    <select class="form-control" name="reteste_status2" id="reteste_status2">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Conforme">Conforme</option>
                                        <option value="Não Conforme">Não Conforme</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 mb-4" id="linha_reteste3" style="display: none;">
                                    <label>Reteste 3</label>
                                    <select class="form-control" name="reteste_status3" id="reteste_status3">
                                        <option value="" selected hidden disabled></option>
                                        <option value="Conforme">Conforme</option>
                                        <option value="Não Conforme">Não Conforme</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnEnviarReteste">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="modalTimeline" tabindex="-1" role="dialog" aria-labelledby="modalTimelineLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="m-0 font-weight-bold text-primary">Histórico</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                            <div class="list-group" id="listaHistorico">
                                
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <p id="modal-footer-quantidade-produzida"></p>
                            <p id="modal-footer-quantidade-reinspecao"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="visualizacaoCausasModal" tabindex="-1" role="dialog"
                aria-labelledby="visualizacaoCausasModalLabel" aria-hidden="true" style="overflow-y: auto;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="visualizacaoCausasModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-4" style="font-size: 14px; overflow-y: auto; max-height: 650px;">
                            <h6 id="descricao_causas">Descrição das causas</h6>
                            <ul id="lista_nao_ordenada" style="padding: 0;">
                            </ul>
                            
                            <div id="img_visualizacaoCausas">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="loading" id="loading" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

        </div>

        {% endblock %}

        {% block scripts %}

        <!-- Script tabela JQuery -->

        <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="static/js/demo/datatables-demo.js"></script>
        <script src="static/js/qualidade/inspecao-tubos-cilindros.js"></script>
        <script src="static/js/qualidade/causas/causa_tubos_cilindros.js"></script>
        <script src="static/js/qualidade/reteste-tubos-cilindros.js"></script>
        <script src="static/js/qualidade/inspecao-pintura.js"></script>

        <script>
            function changeTab(tabName) {
                // Ocultar todas as tabelas
                var tables = document.querySelectorAll('.card-body');
                tables.forEach(function(table) {
                    table.style.display = 'none';
                });

                // Mostrar a tabela correspondente à aba clicada
                document.getElementById(tabName + 'Table').style.display = 'block';

                // Remover a classe "active" de todas as abas
                var tabs = document.querySelectorAll('.nav-link');
                tabs.forEach(function(tab) {
                    tab.classList.remove('active');
                });

                // Adicionar a classe "active" à aba clicada
                var clickedTab = document.querySelector('[onclick="changeTab(\'' + tabName + '\')"]');
                clickedTab.classList.add('active');
            }
        </script>
        
        {% endblock %}