{% extends 'sidebar.html' %}

{% block title %}
<title>Apontamento Montagem</title>
{% endblock %}

{% block links %}

<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- CSS tables responsive -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/no-more-table.css') }}">


{% endblock %}

{% block containerFluid %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reunião</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">
        <!-- tabela iniciar apontamento -->
        <div class="col-xl-12 mb-2">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
                    <div class="btn-group" role="group" aria-label="Criar OP">
                        <button id="btnModalHistoricoLevantamento" type="button" class="btn btn-sm btn-info mr-2"
                            data-toggle="modal" data-target="#modalHistoricoLevantamento">Histórico</button>
                        <button id="btnModalCarretasCadastradas" type="button" class="btn btn-sm btn-secondary mr-2"
                            data-toggle="modal" data-target="#modalCarretasCadastradas">Carretas</button>
                        <button id="btnExportarResumo" type="button" class="btn btn-sm btn-primary">Resumo</button>
                    </div>
                </div>
                <br>
                <!-- Card Body -->
                <div class="card-body">
                    
                    <div class="row mb-3">
                        <div class="col-md-3 col-sm-6">
                            <label for="dataReuniaoInicial">Data inicial:</label>
                            <input class="form-control" type="date" id="dataReuniaoInicial">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <label for="dataReuniaoFinal">Data final:</label>
                            <input class="form-control" type="date" id="dataReuniaoFinal">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Botão para filtrar as datas -->
                        <button id="filtrar_datas" class="btn btn-primary mt-4">Filtrar</button>
                    </div>

                </div>
            </div>

            <div class="card shadow mb-4" id="campoTable" style="display: none; font-size: 14px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Conjuntos</h6>
                    <div class="mb-3">
                        <label for="filtrar_carreta" class="form-label f-14">Filtrar Carreta</label>
                        <input type="text" class="form-control form-control-sm" id="filtrar_carreta">
                    </div>
                    <div class="form-check form-check-reverse">
                        <input class="form-check-input" type="checkbox" value="" id="filtro_faltando_pecas">
                        <label class="form-check-label" for="filtro_faltando_pecas">
                          Faltando Peças
                        </label>
                    </div>
                </div>
                <!-- Card tabela a inspecionar -->
                <div class="card-body" id="reuniaoTables">
                    <div id="no-more-tables">
                        <div class="table-responsive-header">
                            <table class="table table-bordered" id="dataTableReuniao" width="100%" cellspacing="0">
                                <thead class="theadConjuntoReuniao">
                                    <tr>
                                        <th>Produto</th>
                                        <th>Data</th>
                                        <th>Código do Produto</th>
                                        <th>Descrição</th>
                                        <th>Código Único</th>
                                        <th>Quantidade</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyConjuntoReuniao" >
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Modal criar op laser -->
            <div class="modal fade" id="modalCarretasCadastradas" tabindex="-1" role="dialog"
                aria-labelledby="modalCarretasCadastradasLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="TittleModalCarretasCadastradas">Carretas cadastradas na base
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 500px; overflow-y:auto;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Carreta</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyCarretasCadastradas">

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="infoModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="overflow-y: auto; max-height: 700px;">
                            <div class="row">
                                <div class="col-sm-6 mb-4">
                                    <label for="data_carga">Data da Carga:</label>
                                    <input type="date" name="data_carga" id="data_carga" class="form-control" disabled>
                                </div>
                                <div class="col-sm-6 mb-4">
                                    <label for="data_carga">Carreta:</label>
                                    <input type="text" name="carreta_conjunto" id="carreta_conjunto" class="form-control" disabled>
                                </div>
                            </div>
                            <hr>
                            <h6 id="informacoes_conjuntos" class="m-0 font-weight-bold text-primary"></h6>
                            <hr>
                            <div id="formContainerConjunto">

                            </div>
                            <hr>
                            <h6 id="informacoes_pecas" class="m-0 font-weight-bold text-primary">Peças Faltantes</h6>
                            <hr>
                            <div id="formContainerPecas">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal histórico de levantamento -->
            <div class="modal fade" id="modalHistoricoLevantamento" tabindex="-1" role="dialog"
                aria-labelledby="modalHistoricoLevantamentoLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="TittleModalDuplicarOP">Histórico de levantamento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 700px; overflow-y: auto;">
                            <div class="row mb-3">
                                <div class="col-sm-2 col-sm-6 mb-3">
                                    <label for="dataSolicitacaoLevantamento">Data da carga</label>
                                    <input class="form-control" type="date" id="dataSolicitacaoLevantamento">
                                </div>
                                <div class="col-sm-2 col-sm-6 mb-3">
                                    <label for="celulaSolicitacaoLevantamento">Célula</label>
                                    <input class="form-control" type="text" id="celulaSolicitacaoLevantamento">
                                    <ul class="lista-celulaHistorico" style="display: none;">
                                </div>
                                <div class="col-sm-2 col-sm-6 mb-3">
                                    <label for="matPrimaSolicitacaoLevantamento">Mat. Prima</label>
                                    <input class="form-control" type="text" id="matPrimaSolicitacaoLevantamento">
                                    <ul class="lista-mpHistorico" style="display: none;">
                                </div>
                                <div class="col-sm-2 col-sm-6 mb-3">
                                    <label for="conjuntoSolicitacaoLevantamento">Conjunto</label>
                                    <input class="form-control" type="text" id="conjuntoSolicitacaoLevantamento">
                                    <ul class="lista-conjuntoHistorico" style="display: none;">
                                </div>
                                <div class="col-sm-2 col-sm-6 mb-3">
                                    <label for="pecaSolicitacaoLevantamento">Peça</label>
                                    <input class="form-control" type="text" id="pecaSolicitacaoLevantamento">
                                    <ul class="lista-pecaHistorico" style="display: none;">
                                </div>

                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2 align-self-end">
                                    <button class="btn btn-primary" id="btnFiltraHistorico">Filtrar</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Célula</th>
                                            <th scope="col">Conjunto</th>
                                            <th scope="col">Peça</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Quantidade</th>
                                            <th scope="col">Mat.prima</th>
                                            <th scope="col">Obs</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bodyTableHistorico">

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="9">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-end" id="paginationHistorico">
                                                        <!-- Os números das páginas e os botões de navegação serão inseridos aqui dinamicamente -->
                                                    </ul>
                                                </nav>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="loading" id="loading" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>

    <div id="alertBox" class="alert alert-danger">
        <strong>Erro!</strong> Preencha todos os campos.
    </div>

    <div id="successAlert" class="alert alert-success" role="alert">
        Salvo!
    </div>

    {% endblock %}

    {% block scripts %}

    <!-- Script tabela JQuery -->

    <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="static/js/demo/datatables-demo.js"></script>
    <script src="static/js/resumo-producao/modal_faltando_peca.js"></script>
    <script src="static/js/resumo-producao/resumo.js"></script>
    <script src="static/js/resumo-producao/filtros_resumo.js"></script>

    {% endblock %}